<table border="1" class="dataframe">
  <thead>
    <tr>
      <th>Continent</th>
      <th>Number of platforms</th>
      <th>Share of platforms</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Americas</td>
      <td>3</td>
      <td>11.5%</td>
    </tr>
    <tr>
      <td>Europe</td>
      <td>25</td>
      <td>96.2%</td>
    </tr>
    <tr>
      <td>Africa</td>
      <td>8</td>
      <td>30.8%</td>
    </tr>
    <tr>
      <td>Asia</td>
      <td>26</td>
      <td>100.0%</td>
    </tr>
    <tr>
      <td>Pacific</td>
      <td>1</td>
      <td>3.8%</td>
    </tr>
  </tbody>
</table>