{{ define "main" }}

<div class="px-10 mx-auto mb-32 sm:px-20 md:max-w-3xl md:mx-auto">
    <h1 class="h1-stories-data text-blue-900 md:border-b md:border-blue-900 xl:border-b-4 md:pb-6 md:mb-12">{{ .Title | markdownify }}</h1>
    <article id="summary-content-a" class="p-stories-data sm:mt-8 md:mt-0 md:col-start-2 md:col-span-3"> <!--content-->
      {{ .Content }}
    </article>
</div>

{{ end }} 
