<!DOCTYPE html>
<html {{ if .HasShortcode "rtl"}} dir="rtl"{{end}} lang='{{ .Site.LanguageCode }}'>
    {{ partial "head.html" . }}
    <body class="min-h-screen antialiased bg-gray-50">
        {{- partial "dev-size-indicator.html" . -}}
        {{- partial "header.html" . -}}


        <main>
            {{- block "main" . }}{{- end }}

            <!--go to top starts-->
            <style>
            #myBtn {
            display: none;
            z-index: 99;   
            }
            </style>
            
            <button class="fixed text-gray-100 bg-gray-900 rounded-full outline-none cursor-pointer bg-opacity-30 hover:bg-gray-400 hover:text-white w-7 h-7 hover:shadow-md md:w-8 md:h-8 bottom-5 right-5" onclick="topFunction()" id="myBtn" title="Go to top">
                <svg xmlns="http://www.w3.org/2000/svg" class="" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
                </svg>
            </button>
            {{- partial "dev-size-indicator.html" . -}}
        
            <script>
            //Get the button
            var mybutton = document.getElementById("myBtn");
            
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function() {scrollFunction()};
            
            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
                } else {
                mybutton.style.display = "none";
                }
            }
            
            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
            </script>
            <!--go to top ends-->

        </main>
        {{- partial "footer.html" . -}}
        {{- block "footerfiles" . }}{{- end }}
        {{- partial "dev-parameters.html" . -}}
    </body>
</html>
