{{ define "main" }}
{{ range .Pages }}
    <article class="mb-4 text-gray-700 sm:mx-12">
        <h1 class="text-3xl text-gray-700"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    </article>
{{ end }}
{{ end }}
