{{ define "footerfiles" }}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
<script src="/js/search.js"></script>
{{ end }}
{{ define "main" }}
<section class="p-5 sm:px-0 sm:max-w-xl sm:mx-auto md:max-w-2xl md:p-0 md:my-10 xl:max-w-3xl">
  <div>
    <form action="{{ "/search" | absLangURL }}" class="static">
  
      <svg class="absolute w-6 h-6 mt-3 ml-2 md:w-5 md:h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
      </svg>

      <input id="search-query" name="s" class="w-full py-1 pl-12 mb-5 text-2xl border border-transparent rounded-sm focus:outline-none focus:ring-1 focus:ring-pink-900 focus:border-transparent"/>

    </form>

    <div id="search-results">
      <!--
     <h3 class="py-5 text-2xl text-pink-900 lg:text-3xl focus:outline-none focus:ring-2">Matching pages</h3> -->
    </div>
    
  </div>
</section>
<!-- this template is sucked in by search.js and appended to the search-results div above. So editing here will adjust style -->
<script id="search-result-template" type="text/x-js-template">
    <div id="summary-${key}" class="my-5">
      ${ isset isnumbers }<p class="uppercase tracking widest bg-green-900 rounded-full text-white font-semibold text-xs px-3 py-0.5 w-min my-5">Numbers</p>${end}
      ${ isset isstories }<p class="uppercase tracking widest bg-purple-900 rounded-full text-white font-semibold text-xs px-3 py-0.5 w-min my-5">Stories</p>${end}
      ${ isset issummary }<p class="uppercase tracking widest bg-blue-900 rounded-full text-white font-semibold text-xs px-3 py-0.5 w-min my-5">Summary</p>${end}
      ${ isset isresources }<p class="uppercase tracking widest bg-pink-900 rounded-full text-white font-semibold text-xs px-3 py-0.5 w-min my-5">Resources</p>${end}
      ${ isset islicense }<p class="uppercase tracking widest bg-pink-900 rounded-full text-white font-semibold text-xs px-3 py-0.5 w-min my-5">License</p>${end}

      ${ isset isteam }<p class="uppercase tracking widest bg-pink-900 rounded-full text-white font-semibold text-xs px-3 py-0.5 w-min my-5">Team</p>${end}
      ${ isset isengage }<p class="uppercase tracking widest bg-pink-900 rounded-full text-white font-semibold text-xs px-3 py-0.5 w-min my-5">Engage</p>${end}

      <h4 class="mb-3 text-xl font-semibold lg:text-2xl focus:outline-none focus:ring-2 hover:text-gray-500 md:mb-5"><a href="${link}">${title}</a></h4>
      <p class="font-serif text-xl tracking-tighter">${snippet}</p>
      <p class="py-5 font-mono text-sm border-b">By ${author}</p>
      ${ isset tags }<p>Tags: ${tags}</p>${ end }
      ${ isset categories }<p>Categories: ${categories}</p>${ end }
    </div>
</script>
{{ end }}
