{{ define "main" }}

<div> <!--main div-->

    <!--breadcrumb menu start-->
    <div class="flex m-3 text-xs tracking-widest text-gray-400 uppercase md:text-sm md:m-4">
        <a class="hover:text-blue-900 hover:underline focus:outline-none focus:ring-1 focus:ring-blue-900" href="{{ .Site.Home.Permalink }}">{{ T "home" }}</a>&nbsp;&#62;&nbsp;
        <p class="truncate">{{ .Title | markdownify }}</p>
    </div><!--breadcrumb menu end-->

    <div id="data-content" class="px-5 sm:px-0 sm:max-w-xl sm:mx-auto md:max-w-4xl md:px-8 xl:max-w-5xl"> <!--data main content start-->

        <h2 class="h1-stories-data text-blue-900 md:border-b md:border-blue-900 md:pb-6 md:mb-12 xl:border-b-4">{{ .Title }}</h2>

        <div class="sm:grid sm:grid-cols-4 sm:gap-x-7 md:gap-x-16 xl:py-6"><!--container for PDF and Listen items start-->

            {{ if .Params.HasPDF }}
            <!--PDF download icon start-->
            <button class="mb-6 flex justify-center w-full py-0.5 sm:justify-start sm:col-start-1 sm:mb-0 sm:py-0 md:col-start-2">
                <article class="sm:pt-0.5 lg:pt-1">
                    <a href="{{ .Params.PDFsummary }}" class="not-italic font-sans text-sm tracking-wider text-blue-900 2xl:text-lg hover:text-gray-400 lg:text-base">{{ T "download" }} PDF&#8595;</a>
                </article>
            </button><!--PDF download icon end-->
            {{ end }}

            {{ if .Params.HasAudio }}
            <!--listen acordeon menu start-->
            <div class="mb-6 sm:col-start-2 sm:col-span-3 sm:mb-0 md:col-start-3 md:col-span-2">     

                <button class="flex justify-between w-full focus:outline-none text-blue-900 bg-gray-100 cursor-pointer interview-header active:bg-gray-200 focus:ring-1 focus:ring-blue-800 leading-7 px-2 mb-3 hover:bg-gray-200 sm:mb-0">
                    <p class="interview font-sans uppercase tracking-widest text-blue-900 text-xs py-2 lg:text-sm">{{ T "listen" }}</p>
                    <svg class="w-4 h-auto text-blue-900 fill-current plus-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 455 455">
                        <polygon points="455,212.5 242.5,212.5 242.5,0 212.5,0 212.5,212.5 0,212.5 0,242.5 212.5,242.5 212.5,455 242.5,455 242.5,242.5 455,242.5"/>
                    </svg>
                
                    <svg class="w-4 h-auto text-blue-500 fill-current minus-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 83 83">
                        <path d="M81,36.166H2c-1.104,0-2,0.896-2,2v6.668c0,1.104,0.896,2,2,2h79c1.104,0,2-0.896,2-2v-6.668 C83,37.062,82.104,36.166,81,36.166z"/>
                    </svg>
                </button>
                    
                <div class="interview-blurb p-2"><!--audios start-->
                    
                    <div class="py-4 md:py-2"><!--audio 1-->
                        <article class="interview font-sans text-sm uppercase tracking-widest text-gray-900 pb-2">{{ T "summarytitle1" }}</article>
                            <audio controls style="filter: saturate(20%) grayscale(1) contrast(99%) invert(99%); width: 350px; height: 30px;">
                                <source src='{{ .Params.Audio1 }}' type="audio/mpeg">
                                Your browser does not support the audio element, but worry not, you can listen the audio files of this contribution here: https://archive.org/details/set-of-interviews
                            </audio>    
                        <a class="audio-download flex justify-center" href="{{ .Params.Audio1 }}">{{ T "download" }}</a>
                    </div>

                    <div class="py-4 md:py-2"><!--audio 2-->
                        <article class="interview font-sans text-sm uppercase tracking-widest text-gray-900 pb-2 max-w-sm">{{ T "summarytitle2" }}</article>
                            <audio controls style="filter: saturate(20%) grayscale(1) contrast(99%) invert(99%); width: 350px; height: 30px;">
                                <source src='{{ .Params.Audio2 }}' type="audio/mpeg">
                                Your browser does not support the audio element, but worry not, you can listen the audio files of this contribution here: https://archive.org/details/set-of-interviews
                            </audio>    
                        <a class="audio-download flex justify-center" href="{{ .Params.Audio2 }}">{{ T "download" }}</a>
                    </div>

                    <div class="py-4 md:py-2"><!--audio 3-->
                        <article class="interview font-sans text-sm uppercase tracking-widest text-gray-900 pb-2 max-w-sm">{{ T "summarytitle3" }}</article>
                            <audio controls style="filter: saturate(20%) grayscale(1) contrast(99%) invert(99%); width: 350px; height: 30px;">
                                <source src='{{ .Params.Audio3 }}' type="audio/mpeg">
                                Your browser does not support the audio element, but worry not, you can listen the audio files of this contribution here: https://archive.org/details/set-of-interviews
                            </audio>    
                        <a class="audio-download flex justify-center" href="{{ .Params.Audio3 }}">{{ T "download" }}</a>   
                    </div>
                    
                    <div class="py-4 sm:py-2"><!--audio 4-->
                        <article class="interview font-sans text-sm uppercase tracking-widest text-gray-900 pb-2 max-w-sm">{{ T "summarytitle4" }}</article>
                            <audio controls style="filter: saturate(20%) grayscale(1) contrast(99%) invert(99%); width: 350px; height: 30px;">
                                <source src='{{ .Params.Audio4 }}' type="audio/mpeg">
                                Your browser does not support the audio element, but worry not, you can listen the audio files of this contribution here: https://archive.org/details/set-of-interviews
                            </audio>    
                        <a class="audio-download flex justify-center" href="{{ .Params.Audio4 }}">{{ T "download" }}</a>   
                    </div>

                    <div class="py-4 sm:py-2"><!--audio 5-->
                        <article class="interview audio-title">{{ T "summarytitle5" }}</article>
                            <audio controls style="filter: saturate(20%) grayscale(1) contrast(99%) invert(99%); width: 350px; height: 30px;">
                                <source src='{{ .Params.Audio5 }}' type="audio/mpeg">
                                Your browser does not support the audio element, but worry not, you can listen the audio files of this contribution here: https://archive.org/details/set-of-interviews
                            </audio>    
                        <a class="audio-download flex justify-center" href="{{ .Params.Audio5 }}">{{ T "download" }}</a>   
                    </div>

                    <div class="py-4 sm:py-2"><!--audio 6-->
                        <article class="interview audio-title">{{ T "summarytitle6" }}</article>
                            <audio controls style="filter: saturate(20%) grayscale(1) contrast(99%) invert(99%); width: 350px; height: 30px;">
                                <source src='{{ .Params.Audio6 }}' type="audio/mpeg">
                                Your browser does not support the audio element, but worry not, you can listen the audio files of this contribution here: https://archive.org/details/set-of-interviews
                            </audio>    
                        <a class="audio-download flex justify-center" href="{{ .Params.Audio6 }}">{{ T "download" }}</a>   
                    </div>

                    <div class="py-4 sm:py-2"><!--audio 7-->
                        <article class="interview audio-title">{{ T "summarytitle7" }}</article>
                            <audio controls style="filter: saturate(20%) grayscale(1) contrast(99%) invert(99%); width: 350px; height: 30px;">
                                <source src='{{ .Params.Audio7 }}' type="audio/mpeg">
                                Your browser does not support the audio element, but worry not, you can listen the audio files of this contribution here: https://archive.org/details/set-of-interviews
                            </audio>    
                        <a class="audio-download flex justify-center" href="{{ .Params.Audio7 }}">{{ T "download" }}</a>   
                    </div>

                    <div class="py-4 sm:py-2"><!--audio 8-->
                        <article class="interview audio-title">{{ T "summarytitle8" }}</article>
                            <audio controls style="filter: saturate(20%) grayscale(1) contrast(99%) invert(99%); width: 350px; height: 30px;">
                                <source src='{{ .Params.Audio8 }}' type="audio/mpeg">
                                Your browser does not support the audio element, but worry not, you can listen the audio files of this contribution here: https://archive.org/details/set-of-interviews
                            </audio>    
                        <a class="audio-download flex justify-center" href="{{ .Params.Audio8 }}">{{ T "download" }}</a>   
                    </div>

                </div><!--audios end-->

            </div><!--listen acordeon menu end-->
            {{ end }}

        </div><!--container for PDF and Listen items end-->

        <div class="text-xs sm:mt-8 md:grid md:grid-cols-4 md:gap-x-16"> <!--authors + content block start-->

            <div class="flex flex-row justify-center content-start md:hidden"> <!--authors sm starts-->

                <div class="w-36 flex flex-col items-center"> <!--author1sm starts-->
                    <img class="w-16 h-auto rounded-full" src="/media/authors/{{ .Params.ImageAuthor1 }}" alt="">
                    <p class="pt-2 p-metadata-stories">{{ .Params.Author1 }}</p>
                </div> <!--author1sm ends-->

                <div class="w-36 flex flex-col items-center"> <!--author2sm starts-->
                    <img class="w-16 h-auto rounded-full" src="/media/authors/{{ .Params.ImageAuthor2 }}" alt="">
                    <p class="pt-2 p-metadata-stories">{{ .Params.Author2 }}</p>
                </div> <!--author2sm ends-->

                <div class="w-36 flex flex-col items-center"> <!--author3sm starts-->
                    <img class="w-16 h-auto rounded-full" src="/media/authors/{{ .Params.ImageAuthor3 }}" alt="">
                    <p class="pt-2 p-metadata-stories">{{ .Params.Author3 }}</p>
                </div> <!--author3sm ends-->

            </div> <!-- authors sm end-->

            <!--authors md starts-->
            <div class="hidden md:col-start-1 md:col-span-1 md:flex md:flex-col md:items-center"> 

                <!--author1md starts-->
                <div class="flex flex-col items-center"> 
                    <img class="w-20 h-auto rounded-full lg:w-24" src="/media/authors/{{ .Params.ImageAuthor1 }}" alt="">
                    <p class="pt-2 p-metadata-stories">{{ .Params.Author1 }}</p>
                </div> <!--author1md ends-->

                <!--author2md starts-->
                <div class="flex flex-col items-center mt-4 lg:mt-8"> <!--author2md starts-->
                    <img class="w-20 h-auto rounded-full lg:w-24" src="/media/authors/{{ .Params.ImageAuthor2 }}" alt="">
                    <p class="pt-2 p-metadata-stories">{{ .Params.Author2 }}</p>
                </div><!--author2md ends-->

                <!--author3md starts-->
                <div class="flex flex-col items-center mt-4 lg:mt-8"> <!--author2md starts-->
                    <img class="w-20 h-auto rounded-full lg:w-24" src="/media/authors/{{ .Params.ImageAuthor3 }}" alt="">
                    <p class="pt-2 p-metadata-stories">{{ .Params.Author3 }}</p>
                </div><!--author3md ends-->

                <!--toc starts-->
                <div class="hidden md:block md:sticky md:top-20 uppercase tracking-widest text-gray-700 leading-6">
                    <!-- <h1 class="py-5 text-base">Content</h1> -->
                    <aside class="float-left toc">
                        <div id="sticky-navigator" class="pb-10"></div>
                    </aside>
                </div> <!--toc ends-->

            </div> <!--authors md end-->
            
            <article id="summary-content-a" class="p-stories-data mt-8 md:mt-0 md:col-start-2 md:col-span-3"> <!--content-->
                {{ .Content }}
            </article>
        </div> <!--authors + content block end-->
    </div><!--data main content end-->
</div><!--main div-->

<style>
#summary-content-a a {
    text-decoration-color: #029caf;
}
#summary-content-a a:hover {
    color: #029caf;
}
.wrap-toc .toc-box .toc-item.active .toc-item-link {
    color: #029caf; 
    
}

</style>

<script type="text/javascript">
    let $root = $('html, body');
    $(document).ready(function() {
        $('#summary-content-a').createTOC({title: "", insert:".toc"});
        $('a.toc-item-link').click(function() {
            $root.animate({
              scrollTop: $($.attr(this, 'href')).offset().top - 70
            }, 500);
            return false;
        });
    });
</script>

<script class="text/javascript">
    $(function() {
        $('.interview-blurb').hide();
        $('.minus-icon').hide();
        $('.interview-header').unbind('click').bind('click',
            function(evt) {
                evt.stopPropagation();
                $(this).next().slideToggle();
                $($(this).children()[1]).toggle();
                $($(this).children()[2]).toggle();
            });
    });
    </script>

{{ end }}
