.h1-title {
  @apply w-screen text-3xl mb-3 py-1 font-bold tracking-wider text-gray-100 uppercase text-center leading-tight sm:mb-6 md:py-3 md:mb-10 lg:py-4 lg:text-4xl
  }

.h1-stories-data {
  @apply my-8 text-4xl md:text-5xl md:leading-tight xl:font-medium
}

.h1-landing {
  @apply px-2 mt-16 text-5xl leading-none text-center md:p-0
}

.h2-about {
  @apply uppercase leading-7 text-3xl text-center tracking-widest md:text-4xl text-pink-900 my-16
}

.h3-about {
  @apply uppercase font-medium tracking-widest leading-7 text-2xl text-center text-pink-900 sm:pl-2 sm:text-left sm:bg-white lg:text-center lg:mx-auto lg:text-3xl lg:bg-opacity-0
}

.btn-small {
  @apply inline-block px-4 py-2 mt-2 font-sans text-sm font-medium tracking-widest uppercase sm:border sm:rounded sm:shadow-sm sm:hover:shadow-md sm:hover:text-white md:mt-4 focus:outline-none focus:ring-2
}

.p-metadata-stories {
  @apply  font-mono tracking-wider text-center text-gray-800 text-xs md:text-sm 2xl:text-sm
}

.p-stories-data {
  @apply font-serif prose prose-xl max-w-none tracking-tight text-gray-900 leading-8
}

.p-landing {
  @apply font-serif prose prose-xl max-w-none text-gray-900 tracking-tight leading-8
}

.p-about {
  @apply prose prose-lg max-w-none font-serif text-center tracking-tight sm:text-left leading-7 lg:text-center lg:mx-5 xl:mx-16
}

.card-summary {
  @apply font-serif max-w-none prose prose-xl tracking-tight text-gray-800 leading-8 md:max-w-2xl
}

.card-title {
  @apply leading-8 font-normal text-3xl text-center sm:text-4xl md:max-w-2xl 
}

.card-metadata {
  @apply tracking-wider my-4 font-mono text-sm  md:text-base
}

.gallery-captions {
  @apply uppercase font-sans px-2 text-white py-1 text-xs tracking-widest inset-x-0 bottom-0
}

.fig-captions {
  @apply font-serif prose text-lg max-w-none italic text-gray-500 my-5 leading-tight sm:tracking-tight sm:text-xl lg:leading-normal 2xl:tracking-normal
}

.fig-titles {
  @apply prose prose-sm max-w-none tracking-wider text-gray-500 uppercase md:text-base 2xl:text-xl
}

.name-about {
  @apply font-sans tracking-wider font-semibold uppercase text-sm py-4 text-gray-700 text-center sm:mx-4 sm:pb-0 lg:py-3
}

.a-about {
  @apply border-b border-gray-300 hover:text-pink-900
}

.credits-about {
  @apply text-center font-mono text-gray-500 text-xs pt-4 tracking-wide leading-snug sm:text-left lg:text-center lg:mx-5 xl:mx-16
}

.audio-title {
  @apply font-sans text-sm uppercase tracking-widest text-gray-900 pb-2 max-w-sm
}

.audio-download {
  @apply text-xs font-mono tracking-widest text-blue-900 pt-3 pb-5 underline 
}

.btn-home {
  @apply py-2 font-sans text-sm font-medium tracking-widest uppercase hover:underline focus:outline-none focus:ring-2
}