{{ define "main" }}
<!-- <h1 class="h1-title bg-pink-900">About us</h1> -->

<div class="mt-10 sm:px-5 xl:max-w-7xl lg:mx-auto lg:pb-5 2xl:max-w-none">

    <section id="logos">
        <h2 class="h2-about">{{ T "initative" }}</h2>
        <div class="lg:flex lg:justify-evenly lg:max-w-5xl lg:mx-auto">
            <a href="https://www.whoseknowledge.org/" target="_blank" rel="noreferrer">
            <img class="flex-shrink h-28 w-auto my-6 mx-auto hover:shadow-md md:h-36 lg:mx-6 lg:my-0" src="/media/logos/logo-WK.webp" alt="Whose Knowledge? logo"></a>
            <a href="https://www.oii.ox.ac.uk/" target="_blank" rel="noreferrer">
            <img class="flex-shrink h-28 w-auto my-6 mx-auto hover:shadow-md md:h-36 lg:mx-6 lg:my-0" src="/media/logos/logo-OII.webp" alt="Oxford Internet Institute logo"></a>
            <a href="https://cis-india.org/" target="_blank" rel="noreferrer">
            <img class="flex-shrink h-28 w-auto my-6 mx-auto hover:shadow-md md:h-36 lg:mx-6 lg:my-0" src="/media/logos/logo-CIS.webp" alt="Centre for Internet and Society logo"></a>
        </div>
    </section>

    <section id="logos">
        <h2 class="h2-about">{{ T "support" }}</h2>
        <div class="grid grid-cols-1 grid-rows-4 gap-6 sm:grid-cols-2 sm:grid-rows-2 sm:max-w-lg sm:mx-auto md:max-w-2xl xl:grid-cols-4 xl:grid-rows-1 xl:max-w-7xl">
            <a href="https://mellon.org/" target="blank" rel="noreferrer"><img class="flex-shrink h-28 w-auto mx-auto hover:shadow-md md:h-36 lg:mx-6" src="/media/logos/logo-MF.webp" alt="Mellon Foundation logo"></a>
            <a href="https://www.opensocietyfoundations.org" target="_blank" rel="noreferrer"><img class="flex-shrink h-28 w-auto mx-auto hover:shadow-md md:h-36 lg:mx-6" src="/media/logos/logo-OSF.webp" alt="Open Society Foundations logo"></a>
            <a href="https://shuttleworthfoundation.org/" target="_blank" rel="noreferrer"><img class="flex-shrink h-28 w-auto  mx-auto hover:shadow-md md:h-36 lg:mx-6" src="/media/logos/logo-SF.webp" alt="Shuttleworth Foundation logo"></a>
            <a href="https://wikimediafoundation.org/" target="_blank" rel="noreferrer"><img class="flex-shrink h-28 w-auto mx-auto hover:shadow-md md:h-36 lg:mx-6" src="/media/logos/logo-WMF.webp" alt="Wikimedia Foundation logo"></a>
        </div>
    </section>

    <h2 class="h2-about">{{ T "report_authors" }}</h2>

    <section id="bios">

        {{ with $.Site.Data.about.essays }}

        <h3 class="h3-about mb-10 lg:mb-20">{{ T "stories" }}</h3>
        
        <div class="lg:grid lg:grid-cols-2 lg:gap-8 2xl:grid-cols-3 3xl:grid-cols-4"> <!-- stories lg grid start -->
        {{ range .Authors }} 
        <div class="border-b p-8 sm:border-b-1 border-white sm:px-0 sm:pb-10 sm:flex-row sm:flex lg:border-none lg:flex lg:flex-col lg:p-0 lg:bg-white lg:py-5 xl:py-8">
            <span class="flex flex-col items-center sm:justify-center sm:w-1/3 lg:w-auto lg:pb-0">
                <img class="w-32 h-32 rounded-full sm:self-center md:w-40 md:h-40" src="{{.Img}}">
                <p class="name-about">{{.Name}}</p>
            </span>
            <span class="flex flex-col items-center sm:grid sm:w-2/3 sm:place-content-center md:max-w-lg md:mr-auto lg:max-w-none lg:mr-0 lg:w-auto">
                <article class="p-about">
                {{.Bio}}
                </article>
                <p class="credits-about">{{.Credit}} | {{ T "via" }} <a class="a-about" href="{{.Link}}">{{.Source}}</a> </p>
            </span>
        </div>
        {{ end }}
        </div> <!-- end stories lg grid -->
        {{ end }}

        {{ with $.Site.Data.about.numbers }}

        <h3 class="h3-about lg:grid-rows-2 my-10 lg:my-20">{{ T "numbers" }}</h3>
        
        <div class="lg:grid lg:grid-cols-2 lg:gap-8 2xl:grid-cols-3 3xl:grid-cols-2 3xl:max-w-6xl 3xl:mx-auto"> <!-- numbers lg grid start -->
        {{ range .Authors }} 
        <div class="border-b p-8 sm:border-b-1 border-white sm:px-0 sm:flex-row sm:flex lg:border-none lg:flex lg:flex-col lg:p-0 lg:bg-white lg:py-5 xl:py-8">
            <span class="flex flex-col items-center sm:justify-center sm:w-1/3 lg:w-auto lg:pb-0">
                <img class="w-32 h-32 rounded-full sm:self-center md:w-40 md:h-40" src="{{.Img}}">
                <p class="name-about">{{.Name}}</p>
            </span>
            <span class="flex flex-col items-center sm:grid sm:w-2/3 sm:place-content-center md:max-w-lg md:mr-auto lg:max-w-none lg:mr-0 lg:w-auto">
                <article class="p-about">
                {{.Bio}}
                </article>
                <p class="credits-about">{{.Credit}} | {{ T "via" }} <a class="a-about" href="{{.Link}}">{{.Source}}</a> </p>
            </span>
        </div>
        {{ end }}
        </div> <!-- end numbers lg grid -->
        {{ end }}

        {{ with $.Site.Data.about.report }}

        <h3 class="h3-about lg:grid-rows-2 my-10 lg:my-20">{{ T "strategy_summary" }}</h3>
        
        <div class="lg:grid lg:grid-cols-2 lg:gap-8 2xl:grid-cols-3 3xl:grid-cols-4"> <!-- strategy and summary lg grid start -->
        {{ range .Authors }} 
        <div class="border-b p-8 sm:border-b-1 border-white sm:px-0 sm:flex-row sm:flex lg:border-none lg:flex lg:flex-col lg:p-0 lg:bg-white lg:py-5 xl:py-8">
            <span class="flex flex-col items-center sm:justify-center sm:w-1/3 lg:w-auto lg:pb-0">
                <img class="w-32 h-32 rounded-full sm:self-center md:w-40 md:h-40" src="{{.Img}}">
                <p class="name-about">{{.Name}}</p>
            </span>
            <span class="flex flex-col items-center sm:grid sm:w-2/3 sm:place-content-center md:max-w-lg md:mr-auto lg:max-w-none lg:mr-0 lg:w-auto">
                <article class="p-about">
                {{.Bio}}
                </article>
                <p class="credits-about">{{.Credit}} | {{ T "via" }} <a class="a-about" href="{{.Link}}">{{.Source}}</a> </p>
            </span>
        </div>
        {{ end }}
        </div> <!-- end strategy and summary lg grid -->
        {{ end }}


        <div class="lg:grid lg:grid-cols-2 lg:grid-row-auto lg:gap-x-8 2xl:grid-cols-3 3xl:grid-cols-4"> <!-- div illustration + animation + website-->

        {{ with $.Site.Data.about.illustrations }}
        <h3 class="h3-about lg:grid-rows-2 my-10 lg:my-20">{{ T "ilustrations" }}</h3>
        
        {{ range .Authors }} 
        <div class="border-b border-white p-8 sm:border-none sm:px-0 sm:flex-row sm:flex lg:border-none lg:flex lg:flex-col lg:p-0 lg:bg-white lg:py-5 lg:col-start-1 lg:row-start-2 xl:py-8">
            <span class="flex flex-col items-center sm:justify-center sm:w-1/3 lg:w-auto lg:pb-0">
                <img class="w-32 h-32 rounded-full sm:self-center md:w-40 md:h-40" src="{{.Img}}">
                <p class="name-about">{{.Name}}</p>
            </span>
            <span class="flex flex-col items-center sm:grid sm:w-2/3 sm:place-content-center md:max-w-lg md:mr-auto lg:max-w-none lg:mr-0 lg:w-auto">
                <article class="p-about">{{.Bio}}</article>
                <p class="credits-about">{{.Credit}} | via <a class="a-about" href="{{.Link}}">{{.Source}}</a> </p>
            </span>
        </div>
        {{ end }}
        {{ end }}

        {{ with $.Site.Data.about.animation }}
        <h3 class="h3-about lg:col-start-2 lg:row-start-1 my-10 lg:my-20">{{ T "animation" }}</h3>
        
        {{ range .Authors }} 
        <div class="border-b border-white p-8 sm:border-none sm:px-0 sm:flex-row sm:flex lg:border-none lg:flex lg:flex-col lg:p-0 lg:bg-white lg:py-5 lg:row-start-2 lg:col-start-2 xl:py-8">
            <span class="flex flex-col items-center sm:justify-center sm:w-1/3 lg:w-auto lg:pb-0">
                <img class="w-32 h-32 rounded-full sm:self-center md:w-40 md:h-40 " src="{{.Img}}">
                <p class="name-about">{{.Name}}</p>
            </span>
            <span class="flex flex-col items-center sm:grid sm:w-2/3 sm:place-content-center md:max-w-lg md:mr-auto lg:max-w-none lg:mr-0 lg:w-auto">
                <article class="p-about">{{.Bio}}</article>
                <p class="credits-about">{{.Credit}} | via <a class="a-about" href="{{.Link}}">{{.Source}}</a> </p>
            </span>
        </div>
        {{ end }}
        {{ end }}

        {{ with $.Site.Data.about.website }}
        <h3 class="h3-about my-10 lg:col-start-1 lg:row-start-3 2xl:col-start-3 2xl:row-start-1 2xl:self-center">{{ T "web" }}</h3>
        
        {{ range .Authors }} 
        <div class="border-b border-white p-8 sm:border-none sm:px-0 sm:flex-row sm:flex lg:border-none lg:flex lg:flex-col lg:p-0 lg:bg-white lg:py-5 lg:row-start-4 lg:col-start-1 xl:py-8 2xl:col-start-3 2xl:row-start-2">
            <span class="flex flex-col items-center sm:justify-center sm:w-1/3 lg:w-auto lg:pb-0">
                <img class="w-32 h-32 rounded-full sm:self-center md:w-40 md:h-40 " src="{{.Img}}">
                <p class="name-about">{{.Name}}</p>
            </span>
            <span class="flex flex-col items-center sm:grid sm:w-2/3 sm:place-content-center md:max-w-lg md:mr-auto lg:max-w-none lg:mr-0 lg:w-auto">
                <article class="p-about">{{.Bio}}</article>
                <p class="credits-about">{{.Credit}} | via <a class="a-about" href="{{.Link}}">{{.Source}}</a> </p>
            </span>
        </div>
        {{ end }}
        {{ end }}

        </div> <!-- end div illustration + animation + website-->

        {{ with $.Site.Data.about.translators }}
        <h3 class="h3-about my-10 lg:my-20">{{ T "translator" }}</h3> <!-- div translators-->

        <div class="flex flex-row flex-wrap justify-evenly lg:bg-white "> 

            {{ range .Authors }} 
            <div class="border-b border-white p-8 sm:border-none sm:px-4 md:px-0  lg:border-none 2xl:px-12 3xl:px-0">
                <div class="flex flex-col items-center">
                    <img class="w-32 h-32 rounded-full sm:self-center md:w-40 md:h-40" src="{{.Img}}">
                    <p class="font-sans tracking-wider font-semibold uppercase text-sm pt-4 text-gray-700 text-center sm:mx-4 sm:pb-0">{{.Name}}</p>
                    <p class="font-sans uppercase tracking-widest text-xs pt-2 pb-4 text-gray-800 text-center sm:mx-4">{{.Lang}} Translator</p>
                    <article class="prose prose-lg max-w-none font-serif text-center tracking-tight leading-7 mx-5 sm:w-56 md:w-96 md:mx-0 3xl:mx-5">{{.Bio}}</article>
                    <p class="text-center font-mono text-gray-500 text-xs pt-4 tracking-wide leading-snug w-44 md:w-52 lg:w-60">{{.Credit}} | via <a class="a-about" href="{{.Link}}">{{.Source}}</a> </p>
                </div>
            </div>
            {{ end }}
            {{ end }}
    
        </div> <!-- end div translators-->


        {{ with $.Site.Data.about.reviewers }}
        <h3 class="h3-about my-10 lg:my-20">{{ T "review" }}</h3> <!-- div translators-->

        <div class="grid pt-10 sm:grid-cols-3 lg:bg-white lg:pb-10 xl:grid-cols-4 xl:pb-5"> 

            {{ range .Authors }} 
            <div class="xl:mb-5 3xl:px-0">                
                    <p class="font-sans tracking-wider font-semibold uppercase text-sm pt-4 text-gray-700 text-center sm:mx-4 sm:pb-0">{{.Name}}</p>
                    <p class="font-sans uppercase tracking-widest text-xs pt-2 pb-4 text-gray-800 text-center sm:mx-4">{{.Occupation}}</p>
            </div>
            {{ end }}
            {{ end }}
    
        </div> <!-- end div reviewers-->
        
    </section>
    
</div>
{{ end }}