<footer class="mt-20 pt-10 font-sans text-sm tracking-widest text-white bg-gray-900 lg:font-medium lg:pt-12 z-50 ">
  
  <div class="flex flex-col text-center lg:grid lg:grid-cols-2 lg:grid-row-5 lg:gap-y-16"> <!--footer items container start-->

    <div class="pt-4 tracking-widest uppercase lg:col-start-1 lg:row-start-1 lg:row-span-5 lg:pt-0 lg:content-center"> <!--report content items start-->
      {{ with .Site.GetPage "/" }}
      {{ end }} 

      <a class="hover:text-blue-900 focus:ring-1 focus:outline-none focus:ring-blue-900" href="{{ "/" | relLangURL }}">{{ T "home" }}</a><br><br><br>

      <a class="hover:text-blue-900 focus:ring-1 focus:outline-none focus:ring-blue-900" href="{{ "/summary" | relLangURL }}">{{ T "summary" }}</a><br><br><br>

      <a class="hover:text-blue-900 focus:ring-1 focus:outline-none focus:ring-blue-900" href="{{ "/stories" | relLangURL }}">{{ T "stories" }}</a><br><br><br>
 
      <a class="hover:text-blue-900 focus:ring-1 focus:outline-none focus:ring-blue-900" href="{{ "/numbers" | relLangURL }}">{{ T "numbers" }}</a><br><br><br>

      <a class="hover:text-blue-900 focus:ring-1 focus:outline-none focus:ring-blue-900" href="{{ "/resources" | relLangURL }}">{{ T "resources" }}</a><br><br><br>

      <a class="hover:text-blue-900 focus:ring-1 focus:outline-none focus:ring-blue-900" href="{{ "/about" | relLangURL }}">{{ T "team" }}</a><br><br><br>
    </div><!--report content items end-->
              
    <div class="flex justify-center flex-nowrap mb-10 lg:col-start-2 lg:row-start-4 lg:my-0"> <!--social media flex start-->
      <!--twitter-->
      <a href="https://twitter.com/WhoseKnowledge" target="_blank" class="flex items-center justify-center w-8 h-8 mx-5 sm:rounded-full sm:border-white sm:border lg:mx-0 lg:mr-2 hover:border-blue-900 focus:ring-1 focus:outline-none focus:ring-blue-900">
        <svg class="w-4 h-4 text-white fill-current hover:text-blue-900 sm:hover:text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path>
        </svg>
      </a>
      <!--facebook-->
      <a href="https://www.facebook.com/WhoseKnowledge/" target="_blank" class="flex items-center justify-center w-8 h-8 mx-5 sm:rounded-full sm:border-white sm:border hover:border-blue-900 focus:ring-1 focus:outline-none focus:ring-blue-900 lg:mx-2">
        <svg class="w-5 h-5 text-white fill-current sm:w-4 sm:h-4 hover:text-blue-900 sm:hover:text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"></path>
        </svg>
      </a>
      <!--youtube-->
      <a href="https://www.youtube.com/channel/UCR97k4sWCKHxKVeI64xACSg" target="_blank" class="flex items-center justify-center w-8 h-8 mx-5 sm:rounded-full sm:border-white sm:border hover:border-blue-900 focus:ring-1 focus:outline-none focus:ring-blue-900 lg:mx-2">
        <svg class="w-5 h-5 text-white fill-current sm:w-4 sm:h-4 hover:text-blue-900 sm:hover:text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"></path>
        </svg>
      </a>
      <!--instagram-->
      <a href="https://www.instagram.com/WhoseKnowledge/" target="_blank" class="flex items-center justify-center w-8 h-8 mx-5 sm:rounded-full sm:border-white sm:border hover:border-blue-900 focus:ring-1 focus:outline-none focus:ring-blue-900 lg:mx-2">
        <svg class="w-5 h-5 text-white fill-current sm:w-4 sm:h-4 hover:text-blue-900 sm:hover:text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path>
        </svg>
      </a>
    </div><!--social media flex end-->
      
    <div class="flex justify-center lg:col-start-2 lg:row-start-3 lg:16"> <!--email us starts-->
      <a class="flex tracking-widest uppercase align-baseline hover:text-blue-900 focus:ring-1 focus:outline-none focus:ring-blue-900" href="mailto:languages@whoseknowledge.org">{{ T "email" }}
        <svg class="w-auto h-5 ml-2 text-gray-200 fill-current hover:text-blue-900" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path d="M448,64H64C28.656,64,0,92.656,0,128v256c0,35.344,28.656,64,64,64h384c35.344,0,64-28.656,64-64V128 C512,92.656,483.344,64,448,64z M342.656,234.781l135.469-116.094c0.938,3,1.875,6,1.875,9.313v256c0,2.219-0.844,4.188-1.281,6.281 L342.656,234.781z M448,96c2.125,0,4,0.813,6,1.219L256,266.938L58,97.219C60,96.813,61.875,96,64,96H448z M33.266,390.25 C32.828,388.156,32,386.219,32,384V128c0-3.313,0.953-6.313,1.891-9.313L169.313,234.75L33.266,390.25z M64,416 c-3.234,0-6.172-0.938-9.125-1.844l138.75-158.563l51.969,44.531C248.578,302.719,252.297,304,256,304s7.422-1.281,10.406-3.875 l51.969-44.531l138.75,158.563C454.188,415.063,451.25,416,448,416H64z"></path>
        </svg></a>
    </div><!--email us ends-->
      
    <div class="mt-10 mb-10 lg:col-start-2 lg:row-start-2 lg:m-0"> <!--engage button starts-->
      <button class="inline-block px-10 py-2 tracking-widest uppercase border-2 border-blue-900 rounded-full hover:bg-blue-900 hover:text-black focus:ring-1 focus:outline-none focus:ring-white lg:py-1" onclick="window.location.href={{ "/engage" | relLangURL }}">{{ T "engage" }}</button>
    </div> <!--engage button ends-->

    {{ if .IsTranslated }}
    <nav aria-label="Language switcher" class="flex justify-center pb-6 lg:pb-0 lg:col-start-2 lg:row-start-1"><!--lang selector starts-->
      <div class="flex justify-end lang-selector"> 
        <div class="relative inline-block w-auto text-base text-white">
          <select class="block w-full px-4 py-2 pr-8 leading-tight bg-gray-900 tracking-wider appearance-none hover:border-gray-500 focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-blue-900 bg-white" id="footer-lang-switcher">
          {{ if (not (in $.Site.Params.readyLangs .Language.Lang)) }}
          <option>🌐</option>
          {{ end }}
          {{ range .AllTranslations }}
          {{ $lang := .Language.Lang }}
          {{ if in $.Site.Params.readyLangs $lang }}
            <option value="{{ .Permalink }}" hreflang="{{ .Language.Lang }}" {{ if eq .Language.Lang $.Site.Language.Lang }} selected="selected" {{end}} aria-label="{{ i18n "ariaLanguage" }} {{ .Language.LanguageName }}"> {{ .Language.LanguageName }}</option>
          {{ end }}
          {{ end }}
          </select>
        <div class="absolute inset-y-0 right-0 flex items-center px-1 text-white pointer-events-none">
              <svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
        </div>
      </div> 
    </nav><!--lang selector ends-->
    {{ end }}
  
  </div><!--footer items container end-->

  <div class="py-8 text-xs tracking-widest text-center uppercase border-t md:text-sm"><!--site name starts-->
    <a class="hover:text-blue-900 focus:ring-1 focus:outline-none focus:ring-blue-900" href="{{ .Site.Home.Permalink }}">{{ T "STIL" }} &#8226; 2022</a>
  </div><!--site name ends-->

<div class="text-black flex justify-center px-5 bg-white sm:px-8 md:px-28 lg:px-40 xl:px-60"> <!--license start-->
  <p class="pb-5 text-xs leading-loose tracking-widest text-center uppercase 2xl:font-normal 2xl:text-sm 2xl:max-w-4xl 2xl:mx-auto">
    <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><br />{{ T "license_1" }} <a class="underline hover:text-blue-900 focus:ring-1 focus:outline-none focus:ring-blue-900" rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">{{ T "license_2" }}</a>, {{ T "license_3" }}. <a class="underline hover:text-blue-900 focus:ring-1 focus:outline-none focus:ring-blue-900" href="{{ "/license" | relLangURL }}">{{ T "license_4" }}</a>.
  </p>
</div><!--license ends-->

<script type="text/javascript">
  $(function(){
   $('#footer-lang-switcher').on('change', function () {
       var url = $(this).val();
       if (url) {
           window.location = url;
       }
       return false;
   });
 });
</script>

</footer>
