<header  id="header" class="{{ if .IsHome }} border-none absolute top-0 shadow-lg bg-gray-900 hover:opacity-90 opacity-75 {{ end }} w-full font-sans uppercase tracking-widest shadow-sm bg-white border-b z-40 font-medium text-sm {{ if not .IsHome }} sticky top-0 {{ end }} xl:py-2">
    {{/*  CSS functionality for menu toggle  */}}
    
    <style type="text/css">
        input#nav-toggle:checked~label#show-button {
            display: none;
        }

        input#nav-toggle:checked~label#hide-button {
            display: flex;
        }

        input#nav-toggle:checked~#nav-menu {
            display: block ;
        }
    </style>


    <!--actual header content-->

    <nav class="grid grid-cols-2 md:grid-cols-4 xl:grid-cols-10 xl:grid-rows-none">
        <a href="{{ .Site.Home.Permalink }}" class="{{ if .IsHome }} text-white {{ else }} text-gray-700 {{ end }} hover:text-gray-400 row-start-1 col-span-2 py-2 px-4 border-b text-center md:col-span-3 md:text-left md:border-0 md:row-start-1 xl:col-span-5 xl:col-start-1">{{ T "STIL" }}</a>

        {{ if .IsTranslated }}
        <nav aria-label="Language switcher" class="col-start-2 row-start-2 md:row-start-1 md:col-start-4 md:mr-3 xl:col-start-10">
            
            {{/* lang selector starts */}}
            <div class="flex justify-end lang-selector">
                <div class="relative inline-block w-auto text-sm {{ if .IsHome }} text-white {{ else }} text-gray-700 {{ end }}">
                    <select class="block w-full px-4 py-2 pr-8 leading-tight {{ if .IsHome }} bg-gray-900 {{ end }} tracking-wider appearance-none hover:border-gray-500 focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-blue-900 bg-white" id="header-lang-switcher">
                    {{ if (not (in $.Site.Params.readyLangs .Language.Lang)) }}
                    <option>🌐</option>
                    {{ end }}
                    {{ range .AllTranslations }}
                    {{ $lang := .Language.Lang }}
                    {{ if in $.Site.Params.readyLangs $lang }}
                    <option value="{{ .Permalink }}" hreflang="{{ .Language.Lang }}" {{ if eq .Language.Lang $.Site.Language.Lang }} selected="selected" {{end}} aria-label="{{ i18n "ariaLanguage" }} {{ .Language.LanguageName }}"> {{ .Language.LanguageName }} </option>
                    {{ end }}
                    {{ end }}
                    </select>
                <div class="absolute inset-y-0 right-0 flex items-center px-1 {{ if .IsHome }} text-white {{ else }} text-gray-700 {{ end }} pointer-events-none">
                    <svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                </div>
            </div>
            {{/* lang selector ends */}}
        </nav>
        {{ end }}

        <!--hamburger starts-->
        <input id="nav-toggle" type=checkbox class="hidden">

        <label id="show-button" for="nav-toggle" class="col-start-1 row-start-2 self-center ml-4 sm:mt-0 md:hidden {{ if .IsHome }} text-white {{ else }} text-gray-700 {{ end }}">
            <svg class="w-6 h-6 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>{{ T "open" }}</title>
                <path d="M0 3h20v2H0V3z m0 6h20v2H0V9z m0 6h20v2H0V0z"/>
            </svg>
        </label>
        <label id="hide-button" for="nav-toggle" class="hidden ml-4 mt-2 {{ if .IsHome }} text-white {{ else }} text-gray-700 {{ end }}">
            <svg class="w-6 h-6 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>{{ T "close" }}</title>
                <polygon points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2"
                        transform="rotate(45 10 10)"/>
            </svg>
        </label>
        <!--hamburger ends-->

        <!--menu items start-->
        <ul id="nav-menu" class="hidden px-5 mt-14 sm:mt-10 md:row-start-2 md:col-span-4 md:py-1.5 md:flex md:mt-0 md:justify-between md:text-sm md:border-t {{ if .IsHome }} md:font-normal {{ end }} md:px-56 lg:pt-2 lg:px-72 xl:px-0 xl:border-0 xl:font-medium xl:col-start-6 xl:col-span-4 xl:row-start-1 2xl:col-start-7 2xl:col-span-3">
            {{ with .Site.GetPage "/" }}
            {{ end }} 

            <li class="pb-8 border-b md:border-none md:pb-0 {{ if .IsHome }} text-white hover:text-blue-900 {{ else }} text-blue-900 hover:text-gray-400 {{ end }}">
                <a href="{{ "/summary" | relLangURL }}" class="{{ if $.Params.IsSummary }} underline decoration-solid {{ end}}">{{ T "summary" }}</a>
            </li>
            <li class="py-8 border-b md:border-none md:py-0 {{ if .IsHome }} text-white hover:text-purple-800 {{ else }} text-purple-900 hover:text-gray-400 {{ end }}">
                <a href="{{ "/stories" | relLangURL }}" class="{{ if eq .Section "stories" }} underline decoration-solid {{ end}}">{{ T "stories" }}</a>
            </li>
            <li class="py-8 border-b md:border-none md:py-0 {{ if .IsHome }} text-white hover:text-green-900 {{ else }} text-green-900 hover:text-gray-400 {{ end }}">
                <a href="{{ "/numbers" | relLangURL }}" class="{{ if eq .Section "numbers" }} underline decoration-solid {{ end}}">{{ T "numbers" }}</a>  
            </li>
            <li class="py-8 mt-0.5 flex md:py-0">
            <a id="search-toggle" class ="{{ if .IsHome }} text-white hover:text-pink-900 {{ else }} text-pink-900 hover:text-gray-400 {{ end }}">
              <svg class="w-6 h-6 md:w-5 md:h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
              </svg>
            </a>

            {{ if .Site.Params.flexSearch -}}
            <form id="search-form" class="order-7 hidden navbar-form flex-grow-1 order-md-3">
              <input id="search-input" class="py-1 ml-2 border border-transparent rounded-sm form-control is-search focus:outline-none focus:ring-1 focus:ring-pink-900 focus:border-transparent md:py-0" type="search" placeholder="Search site..." aria-label="Search site..." autocomplete="off">
            </form>
            {{ end -}}
            </li>
        </ul><!--menu items ends-->
    </nav>

<script>
$(function() {
    $("#search-toggle").click(function(){
        console.debug("search toggle");
        $("#search-form").toggle(600);
        $("#search-input").focus();
    });
    $('#search-form').on('submit', function(e){
           e.preventDefault();
     });
    $("#search-input").keyup(function (e) {
        if (e.which == 13) {
          loc = "{{ "/search" | relLangURL }}/?s=" + encodeURIComponent($("#search-input").val());
          window.location = loc;
        }
    });
});
</script>

<script type="text/javascript">
    $(function(){
     $('#header-lang-switcher').on('change', function () {
         var url = $(this).val();
         if (url) {
             window.location = url;
         }
         return false;
     });
   });
</script>


</header>
