<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ block "title" . }}
    {{- .Title }} - {{ .Site.Title -}}
    {{ end }}</title>
    {{- if .Description }}
    <meta name="description" content="{{ .Description }}" />
    {{ end -}}
    {{- if .Keywords }}
    <meta name="keywords" content="{{ delimit .Keywords "," }}" />
    {{ end -}}
    {{- if .Params.Author }}
    <meta name="author" content="{{ .Params.Author}}" />
    {{ end -}}
    {{ hugo.Generator }}
    {{ template "_internal/twitter_cards.html" . }}

    {{- $styles := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/postcss.config.js") -}}
    {{- if .Site.IsServer }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
    {{ else }}
        {{- $styles := $styles| minify | fingerprint | resources.PostProcess -}}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}">
    {{ end -}}

    <link href="https://fonts.googleapis.com/css2?family=Spectral:wght@200;300;400;500;600;700;800;900&ital,wght@0,400;1,400&family=Jost:wght@200;300;400;500;600;700;800;900&family=Anonymous+Pro:wght@400;700&display=swap" rel="stylesheet">     

    <link rel="stylesheet" href="/css/toc.css" />

    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/jquery.createTOC.js"></script>
    <script src="/js/textition.min.js"></script>

    {{ if .HasShortcode "side-fig-fancybox" }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    {{ end }}

    {{ if .HasShortcode "summary-side-fig-fancybox" }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    {{ end }}

    {{ if .HasShortcode "summary-gallery-fancybox" }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    {{ end }}


    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["disableCookies"]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
	var u="https://matomo.whoseknowledge.org/";
	_paq.push(['setTrackerUrl', u+'matomo.php']);
	_paq.push(['setSiteId', '{{$.Site.Params.matomoId}}']);
	var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
	g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
</head>
