{{ define "main" }}
<!--landing page-->
<div id="main">
    <div id="video-wrapper" class="relative">
        <video class="m-0 min-w-100% min-h-100% xl:mx-auto" autoplay muted loop poster="video-snapshot.jpg"></video>
        <!-- TODO add video snapshot, check it's responsive -->
   
        <script type="text/javascript">
        window.onload = function() {
            if (window.innerWidth > 766) {
                console.debug("video: > 766");
                document.querySelector("video").src = "/media/StateoftheInternetLanguagesReport1.m4v";
                document.querySelector("video").type = "video/mp4";
            } else {
                console.debug("video: < 766");
                document.querySelector("video").src = "/media/StateoftheInternetLanguagesReport2.m4v";
                document.querySelector("video").type = "video/mp4";
            }
        }
        </script>

        <span class="absolute bottom-0 w-10 h-10 text-orange-900 opacity-0 animate-pulse md:top-0 md:mt-20 md:h-16 md:w-16 lg:h-20 lg:w-20 xl:h-24 xl:mt-5 xl:w-24 2xl:h-28 2xl:w-28">
            <svg xmlns="http://www.w3.org/2000/svg" class="" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
        </span>
    </div>

    <div id="landing-content" class="max-w-lg px-3 mx-auto sm:px-0 md:max-w-xl lg:max-w-2xl"> <!-- landing content starts-->

        {{ $data := index $.Site.Data.landing .Site.Language.Lang }}
        <section id="about" class="py-20 border-b">
            {{ with $data.landing }}
            <article class="p-landing">
            {{ .About | markdownify }}
            </article>
            {{ end }}
        </section>

        <section id="summary" class="pb-5 border-b">
            {{ with $data.landing }}
            <h1 class="mb-10 text-blue-900 h1-landing hover:text-gray-400"><a href="{{ "/summary" | relLangURL }}">{{ T "summary" }}</a></h1>
            <article class="p-landing">
            {{ .Summary | markdownify }}
            </article>
            <div class="flex justify-end sm:my-3">
                <a class="text-blue-900 btn-small sm:border-blue-900 sm:hover:bg-blue-900 focus:ring-blue-800" href="{{ "/summary" | relLangURL }}">{{ T "read_more" }} <span class="text-lg sm:hidden">&#8594;</span></a>
            </div>
            {{ end }}
        </section>

        <section id="stories" class="pb-5 border-b">
            {{ with $data.landing }}
            <h1 class="mb-10 text-purple-900 h1-landing hover:text-gray-400"><a href="{{ "/stories" | relLangURL }}">{{ T "stories" }}</a></h1>
            <article class="p-landing">
            {{ .Stories | markdownify }}
            </article>
            <div class="flex justify-end sm:my-3">
                <a class="text-purple-900 btn-small sm:border-purple-900 sm:hover:bg-purple-900 focus:ring-purple-800" href="{{ "/stories" | relLangURL }}">{{ T "read_more" }} <span class="text-lg sm:hidden">&#8594;</span></a>
            </div>
            {{ end }}
        </section>

        <section id="numbers" class="pb-5 border-b">
            {{ with $data.landing }}
            <h1 class="mb-10 text-green-900 h1-landing hover:text-gray-400"><a href="{{ "/numbers" | relLangURL }}">{{ T "numbers" }}</a></h1>
            <article class="p-landing">
            {{ .Numbers | markdownify }}
            </article>
            <div class="flex justify-end sm:my-3">
                <a class="text-green-900 btn-small sm:border-green-900 sm:hover:bg-green-900 focus:ring-green-800" href="{{ "/numbers" | relLangURL }}">{{ T "read_more" }} <span class="text-lg sm:hidden">&#8594;</span></a>
            </div>
            {{ end }}
        </section>

    </div> <!-- landing-content ends -->
</div> <!-- main ends -->
<style>
    .p-landing h1 {
        font-size: 2.3rem;
    }
</style>
{{ end }}
