{{ define "main" }}
<div class="mb-10 min-h-screen"> <!--main div starts-->

    <h1 class="h1-title bg-green-900 h-20 md:h-24 lg:h-28" id="sectiontitle"><div class="mt-2 md:mt-0">{{ T "numbers" }}</div></h1> <!--page title-->

    <!--page content-->
    <div class="max-w-xl mx-auto md:max-w-2xl lg:max-w-7xl lg:mx-4 xl:mx-auto 2xl:max-w-none 2xl:mx-10 3xl:max-w-screen-3xl 3xl:mx-auto">

        {{ range .Pages.ByWeight }}
        <!--cards container-->

        <div id="card-{{.Slug}}" class="flex mb-10 lg:bg-white lg:border lg:rounded-lg lg:overflow-hidden lg:shadow-sm">
            <div class="overflow-hidden bg-white border border-gray-300 rounded-lg shadow-sm md:shadow-md lg:w-3/5 lg:order-1 lg:border-none lg:rounded-none lg:shadow-none lg:my-0 xl:w-2/3"> <!--card content-->  

                <div class="relative pb-5/6 lg:hidden"> <!--card image xs/sm/md--> 

                    <a class="" href="{{.Permalink}}"> 
                        <img class="card-hover-color absolute object-cover object-center w-full h-full" src="/media/data-survey/{{ .Params.Img }}" alt="{{ .Params.ImgAlt }}">
                    </a> 
                </div> <!--card image xs/sm/md ends--> 

                <div class="p-4 md:p-8 xl:mt-2"> <!--card text-->

                    <a href="{{ .Permalink }}" class="card-title text-green-900 hover:text-gray-400">{{ .Title }}</a>
                    <div class="border-t border-3 border-green-900 mt-4"></div>
                    <p class="card-metadata text-green-900">{{ .Params.Author1 }} / {{ .Params.Author2 }}</p>
                    <article class="card-summary">
                    {{ .Params.Summary | markdownify }}
                    </article>
                    <div class="flex justify-end">
                        <a class="text-green-900 btn-small sm:border-green-900 sm:hover:bg-green-900 focus:ring-green-800" href="{{ .Permalink }}">{{ T "read_more" }}<span class="text-lg sm:hidden">&#8594;</span></a>
                    </div>
                </div> <!--card text ends-->

            </div> <!--card content ends--> 

            <div class="hidden lg:block lg:w-3/5 lg:relative xl:w-4/5 2xl:w-full"> <!--card image lg-->
                <a class="" href="{{.Permalink}}"> 
                <img class="card-hover-color absolute object-cover object-center h-full" src="/media/data-survey/{{ .Params.Img }}" alt="{{ .Params.ImgAlt }}">
                </a>
            </div> <!--card image lg ends-->
        </div><!--cards container ends-->

        {{ end }}

    </div><!--page content ends-->

</div><!--main div ends-->

<style>
.card-hover-color {
  transition: transform .3s;
}
.card-hover-color:hover {
  transform: scale(1.05);
}
</style>

<script type="text/javascript">
    {{ if ne .Site.Language.Lang "bn" }}
    $(document).ready(function() {
            let numbersLabels=[
                    "Angka",
                    "數據",
                    "Numbers",
                    "Chiffres",
                    "Números",
                    "Cifras",
                    "Nambari",
                    "Da shlhab"];

            numbersLabels.forEach(function(i) {
                $('#sectiontitle').append('<div>' + i + '</div>');
            });
            $('#sectiontitle').textition({
                 speed: 0.8,
                 animation: 'ease-out',
                 map: {x: 300, y: 10, z: 5},
                 autoplay: true,
                 interval: 4
            });
    });
    {{ end }}
</script>

{{ end }}
