{{ define "main" }}

<div> <!--main div-->

    <!--breadcrumb menu starts-->
    <div class="flex m-3 text-xs tracking-widest text-gray-400 uppercase md:text-sm md:m-4">
        <a class="hover:text-green-900 hover:underline focus:outline-none focus:ring-1 focus:ring-green-800" href="{{ .Site.Home.Permalink }}">{{ T "home" }}</a>&nbsp;&#62;&nbsp;
        <a class="hover:text-green-900 hover:underline focus:outline-none focus:ring-1 focus:ring-green-800" href="/numbers">{{ T "numbers" }}</a>&nbsp;&#62;&nbsp;
        <p class="truncate">{{ .Title | markdownify }}</p>
    </div><!--breadcrumb menu end-->

    <div id="data-content" class="px-5 sm:px-0 sm:max-w-xl sm:mx-auto md:max-w-4xl md:px-8 xl:max-w-5xl"> <!--data main content starts-->

        <h1 class="h1-stories-data text-green-900 md:border-b md:border-green-900 xl:border-b-4 md:pb-6 md:mb-12">{{ .Title }}</h1>
        
        <div class="text-xs md:grid md:grid-cols-4 md:gap-x-16"> <!--authors + content block starts-->

            <div class="flex flex-row justify-center items-center sm:grid sm:grid-cols-4 md:hidden"> <!--authors sm starts-->

                <div class="w-36 flex flex-col items-center sm:col-start-1"> <!--author1sm starts-->
                    <img class="w-16 h-auto rounded-full" src="/media/authors/{{ .Params.ImageAuthor1 }}" alt="">
                    <p class="pt-2 p-metadata-stories">{{ .Params.Author1 }}</p>
                </div> <!--author1sm ends-->

                <div class="w-36 flex flex-col items-center sm:col-start-2"> <!--author2sm starts-->
                    <img class="w-16 h-auto rounded-full" src="/media/authors/{{ .Params.ImageAuthor2 }}" alt="">
                    <p class="pt-2 p-metadata-stories">{{ .Params.Author2 }}</p>
                </div> <!--author2sm ends-->

                <p class="hidden font-serif prose max-w-none italic text-gray-500 tracking-wide leading-relaxed sm:block sm:col-start-3 sm:col-span-2 sm:pl-5 sm:border-l sm:border-green-900"> {{ .Params.Affiliation }}
                </p> <!--affiliationsm text-->

            </div> <!-- authors sm ends-->

            <!--affiliation sm text--> 
            <article class="font-serif fig-captions border-t border-b border-gray-400 p-2 my-8 sm:hidden"> {{ .Params.Affiliation }}
            </article> 

            {{ if .Params.Declaration }}
            <!--declaration sm text-->
            <article class="font-sans uppercase text-sm tracking-widest text-gray-500 mt-8 leading-loose bg-white p-4 mb-8 sm:mb-0 md:hidden"> {{ .Params.Declaration }}
            </article>
            {{ end }}

            <!--authors md starts-->
            <div class="hidden md:col-start-1 md:col-span-1 md:flex md:flex-col md:items-center"> 

                <!--author1md starts-->
                <div class="flex flex-col items-center"> 
                    <img class="w-20 h-auto rounded-full lg:w-24" src="/media/authors/{{ .Params.ImageAuthor1 }}" alt="">
                    <p class="pt-2 p-metadata-stories">{{ .Params.Author1 }}</p>
                </div> <!--author1md ends-->

                <!--author2md starts-->
                <div class="flex flex-col items-center mt-4 lg:mt-8"> 
                    <img class="w-20 h-auto rounded-full lg:w-24" src="/media/authors/{{ .Params.ImageAuthor2 }}" alt="">
                    <p class="pt-2 p-metadata-stories">{{ .Params.Author2 }}</p>
                </div> <!--author2md ends-->
            
                <!--affiliation md text--> 
                <p class="font-serif fig-captions border-t border-gray-400 pt-5 px-2 xl:prose-lg xl:text-gray-500 xl:leading-relaxed xl:mt-10"> {{ .Params.Affiliation }}
                </p>

                {{ if .Params.Declaration }}
                <!--declaration md text-->
                <article class="hidden font-sans uppercase tracking-widest text-sm text-gray-500 leading-5 bg-white p-5 md:inline-block mt-4 xl:text-base xl:leading-7 xl:text-gray-500 xl:p-6"> {{ .Params.Declaration }}
                </article>
                {{ end }}

                <!--toc starts-->
                <div class="hidden md:block md:sticky md:top-20 uppercase tracking-widest text-gray-700 leading-6">
                    <!-- <h1 class="py-5 text-base">Content</h1> -->
                    <aside class="float-left toc">
                        <div id="sticky-navigator" class="pb-10"></div>
                    </aside>
                </div> <!--toc ends-->

            </div> <!--authors md ends-->
            
            <article id="data-content-a" class="p-stories-data sm:mt-8 md:mt-0 md:col-start-2 md:col-span-3"> <!--content-->
                {{ .Content }}
            </article>
        </div> <!--authors + content block end-->
    </div><!--data main content ends-->
</div><!--main div-->

<style>
#data-content-a a {
    text-decoration-color: #00b2a4;
}
#data-content-a a:hover {
    color: #00b2a4;
}
.wrap-toc .toc-box .toc-item.active .toc-item-link {
    color: #00b2a4;
}
</style>

<script type="text/javascript">
    let $root = $('html, body');
    $(document).ready(function() {
        $('#data-content-a').createTOC({title: "", insert:".toc"});
        $('a.toc-item-link').click(function() {
            $root.animate({
              scrollTop: $($.attr(this, 'href')).offset().top - 70
            }, 500);
            return false;
        });
    });
</script>

{{ end }}
