{{ define "main" }}

<div class="min-h-screen mb-10"> <!--main div starts-->

    <h1 class="bg-purple-900 h1-title h-20 md:h-24 lg:h-28" id="sectiontitle"><div class="mt-2 md:mt-0">{{ T "stories" }}</div></h1> <!--page title-->

    <div class="max-w-xl mx-auto md:max-w-2xl lg:max-w-5xl xl:max-w-7xl 2xl:max-w-none 2xl:mx-5"> <!--screen width setting start-->

        <div class="lg:grid lg:grid-cols-2 lg:row-auto lg:gap-10 2xl:grid-cols-3 2xl:row-auto 2xl:gap-5 3xl:grid-cols-4"> <!--grid for lg screens start-->

            {{ range .Pages.ByWeight }}

            {{ $imgPath := printf "img/stories/%s" .Params.Illustration | printf "%s" }}
            {{ $img := resources.Get $imgPath }}
            {{ $tinyw := "600x700 Center" }}
            {{ .Scratch.Set "tiny" ($img.Fill $tinyw) }}
            {{ $tiny := .Scratch.Get "tiny" }}

            <section id="card-{{.Slug}}" class="mb-10 overflow-hidden bg-white border border-gray-300 rounded-lg shadow-sm md:shadow-md lg:relative lg:mb-0"> <!--card content starts-->

                <div id="card-img-{{.Slug}}" class="relative pb-5/6"> <!--card img starts--> 
                    
                    <a class="" href="{{.Permalink}}">
                        <img class="card-hover-color absolute object-cover object-center w-full h-full" src="{{$tiny.Permalink}}" alt="{{.Params.Illustrationalt}}">
                    </a>

                </div> <!--card img ends--> 

                <div id="content-{{.Slug}}" class="px-5 pt-5 md:pt-8 md:px-8 lg:pb-10 card-content lg:mb-10"> <!--card text starts-->

                    {{ if .IsTranslated }}
                    {{ $ls := newScratch }}{{ $ls.Set "count" 0 }} 
                    {{ range .AllTranslations }}{{ if not .Params.FakeTranslation }}{{ $ls.Add "count" 1 }}{{ end }}{{ end }}
                    {{ if gt ($ls.Get "count") 1 }}
                    <div id ="lng-sel-{{.Slug}}" class="flex justify-end lang-selector" slug="{{ .Slug }}"> <!--lang selector starts-->

                        <div class="relative inline-block w-auto mb-4 font-mono text-xs">
                            <select class="block w-full px-1 py-2 pr-5 leading-tight bg-white border border-gray-400 rounded shadow appearance-none hover:border-gray-500 focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-purple-800">
				{{ $sel := false }}
                                {{ range .AllTranslations }}
                                {{ if not .Params.FakeTranslation }}
                                <option 
				    	foo={{.Language.Lang}}
                                        {{/* TODO need to add here all the languages for the lang selector */}}
                                        {{ if (and (ne .Language.Lang "en") (ne .Language.Lang "es")) }}
						selected="selected"
						{{ $sel := true }}
						{{ else }}
						{{ if (ne .Language.Lang "en") }}
							selected="selected"
							{{ $sel := true }}
						{{ else }}
						{{ if (and (not $sel) (eq .Language.Lang $.Site.Language.Lang)) }}
						selected="selected"
						{{ $sel := true }}
						{{ end }}
						{{ end }}
                                        {{end}}
                                >
                                {{ .Language.LanguageName }}</option>
                                {{ end }}
                                {{ end }}
                            </select>
                            <div class="absolute inset-y-0 right-0 flex items-center px-1 text-gray-700 pointer-events-none">
                                <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                            </div>
                        </div>

                    </div> {{/* lang selector ends */}}

                    {{ else }}

                    <div class="hidden sm:block lg:text-white">&#160;</div> {{/* empty space for 0 true translations */}}

                    {{ end }}

                    {{ else }}

                    <div class="hidden sm:block lg:text-white">&#160;</div> {{/* empty space for no translations */}}

                    {{ end }} 

                    <a href="{{.Permalink}}" class="text-purple-900 card-title hover:text-gray-400">{{.Title | markdownify }}</a>
                    <p class="text-purple-900 card-metadata">{{.Params.Author1}}
                    {{ if .Params.Author2 }}
                    / {{.Params.Author2}}
                    {{ end }}
                    </p>

                    <article class="card-summary">
                        {{.Params.Summary | markdownify }}
                    </article>

                </div> <!--card text ends-->

                <div id="read-more-{{.Slug}}" class="flex justify-end mb-4 mr-4 md:mb-8 md:mr-8 card-button lg:absolute lg:bottom-0 lg:right-0 read-more">
                    <a class="text-purple-900 btn-small sm:border-purple-900 sm:hover:bg-purple-900 focus:ring-purple-800" href="{{.Permalink}}">{{ T "read_more" }} <span class="text-lg sm:hidden">&#8594;</span></a>
                </div>
            </section> <!--card content ends-->

            {{ end }}

        </div> <!--grid for lg screens end-->

    </div><!--screen width setting end-->
    
</div><!--main div end-->

<script type="text/javascript">
    $(function() {
        $.getJSON( "/en/stories/trans.json", function( data ) {
            $.translations = data;
            $('.lang-selector').each(function() {
                $(this).change(function() {
                    let id   = $(this).attr('id');
                    let slug = $(this).attr('slug');
                    let lang = $('#' + id + " option:selected").val();
                    if (slug == undefined) {
                            return
                    }
                    try {
                        let title = $.translations.items[slug].translations[lang].title;
                        let summary = $.translations.items[slug].translations[lang].summary;
                        let href    = $.translations.items[slug].translations[lang].href;
                        let langid  = $.translations.items[slug].translations[lang].lang;

                        //console.debug("lang:" + langid);
                        if (langid === "aeb")  {
                            $('#content-' + slug).attr('dir', "rtl");
                        } else {
                            $('#content-' + slug).attr('dir', "ltr");
                        }
                        $('#content-' + slug).children('.card-title').html(title);
                        $('#content-' + slug).children('.card-title').attr('href', href);
                        $('#content-' + slug).children('.card-summary').html(summary);
                        $('#content-' + slug).children('.read-more-a').attr('href', href);
                        $('#content-' + slug).siblings('.read-more').children('a').attr('href', href);
                    } catch {
                        console.debug("WARN cannot handle slug: " + slug);
                        return
                    }
                });
                $(this).trigger('change');
            });
        });
    });
    {{ if ne .Site.Language.Lang "bn" }}
    $(document).ready(function() {
            let storiesLabels=[
                    "Cerita",
                    "故事",
                    "Stories",
                    "Histoires",
                    "Histórias",
                    "Historias",
                    "Hadithi",
                    "Dill llue ke guke"];
            storiesLabels.forEach(function(i) {
                $('#sectiontitle').append('<div>' + i + '</div>');
            });
            $('#sectiontitle').textition({
                 speed: 0.8,
                 animation: 'ease-out',
                 map: {x: 300, y: 20, z: 10},
                 autoplay: true,
                 interval: 4
            });
    });
    {{ end }}
</script>

<style>
.card-hover-color {
  transition: transform .3s;
}

.card-hover-color:hover {
  transform: scale(1.10);
}
</style>

{{ end }}
