{{ define "main" }}

{{ $tinyw := "600x700 Center" }}
{{ $smallw := default "800x" }}
{{ $mediumw := default "1100x" }}
{{ $largew := default "1300x" }}
{{ $xlargew := default "1600x" }}

<div> <!--main div starts-->
    
    <!--breadcrumb menu starts-->
    <div class="flex m-3 text-xs tracking-widest text-gray-400 uppercase md:text-sm md:m-4">
        <a class="hover:text-purple-900 hover:underline focus:outline-none focus:ring-1 focus:ring-purple-800" href="{{ .Site.Home.Permalink }}">{{ T "home" }}</a>&nbsp;&#62;&nbsp;
        <a class="hover:text-purple-900 hover:underline focus:outline-none focus:ring-1 focus:ring-purple-800" href="{{ "/stories" | relLangURL }}">{{ T "stories" }}</a>&nbsp;&#62;&nbsp;
        <p class="truncate">{{ .Title | markdownify }}</p>
    </div><!--breadcrumb menu end-->
    
    <!--title and summary start-->
    <div id="titlesection" class="sm:pt-1 sm:max-w-2xl sm:mx-auto md:max-w-3xl xl:max-w-4xl 2xl:max-w-5xl">
        <h1 class="text-center text-purple-900 h1-stories-data">{{ .Title | markdownify }}</h1>
        {{ if not .Params.skipSummary }}
        <div class="w-40 mx-auto mb-8 border-b border-purple-900"></div>
        <p class="mx-6 font-serif text-xl italic text-center text-gray-700 leading-7 tracking-tight md:leading-normal lg:text-2xl 2xl:leading-relaxed 2xl:max-w-5xl 2xl:mx-auto {{ if or (eq .Language.Lang "ben") (eq .Language.Lang "aeb") (eq .Language.Lang "sin") }} text-2xl leading-7 md:leading-9 {{end}}">{{.Params.Summary | markdownify}}</p>
        {{ end }}
    </div> <!--title and summary end-->

{{ $srcPath := printf "img/stories/%s" $.Params.Illustration | printf "%s" }}
{{ $src := resources.Get $srcPath }}

{{ .Scratch.Set "tiny" ($src.Fill $tinyw) }}
{{ .Scratch.Set "small" ($src.Fill "800x700 Center") }}
{{ .Scratch.Set "medium" ($src.Fill "1100x733 Center") }}
{{ .Scratch.Set "large" ($src.Fill "1300x731 Center") }}
{{ .Scratch.Set "xlarge" ($src.Resize $xlargew) }}

{{ $tiny := .Scratch.Get "tiny" }}
{{ $small := .Scratch.Get "small" }}
{{ $medium := .Scratch.Get "medium" }}
{{ $large := .Scratch.Get "large" }}
{{ $xlarge := .Scratch.Get "xlarge" }}

    <!--illustration start-->
    <div id="illustration" class="relative mt-8 pb-5/6 md:pb-4/6 lg:block lg:mb-0 lg:py-0 2xl:w-1600 2xl:mx-auto">
        <picture>
        <img class="absolute object-cover object-center w-full h-full -z-10 lg:relative lg:w-full lg:h-auto"
            srcset='{{ with $tiny.Permalink }}{{.}} 500w{{ end }}
                      {{ with $small.Permalink }}, {{.}} 800w{{ end }}
                      {{ with $medium.Permalink }}, {{.}} 1100w{{ end }}
                      {{ with $large.Permalink }}, {{.}} 1300w {{ end }}
                      {{ with $xlarge.Permalink }}, {{.}} 1600w {{ end }}'
            src="{{ $medium.Permalink }}" 
            alt="{{.Params.Illustrationalt}}"/>
        </picture>
    </div><!--illustration end-->

    <!--illustration credits start-->
    <div class="relative 2xl:w-1600 2xl:mx-auto">
        <div class="absolute bottom-0 right-0 px-2 py-0 font-sans text-xs font-light leading-relaxed tracking-widest text-white uppercase bg-black bg-opacity-50">{{ .Params.IllustrationAuthor }}</div>   
    </div><!--illustration credits end-->

    <!-- postmetabox sm open -->
    <div id="postmetabox-small" class="py-5 text-xs bg-white border-b sm:py-6 {{if not .Params.SkipMeta}}sm:grid sm:grid-cols-2{{end}} lg:hidden">
        <div class="sm:flex sm:justify-center {{if not .Params.SkipMeta}} sm:items-center {{end}} sm:py-0">
            <div id="postauthor-sm" class="flex flex-col items-center">
                <img class="w-16 h-auto rounded-full sm:w-20 md:w-24" src="/media/authors/{{ .Params.ImageAuthor1 }}" alt="">
                <p class="pt-3 p-metadata-stories sm:pb-0 sm:w-40">{{ T "author" }} {{ .Params.Author1 }}</p>
            </div>
            {{ if .Params.Author2 }}
            <div id="postauthor-sm2" class="flex flex-col items-center pt-3 sm:pt-0">
                <img class="w-16 h-auto rounded-full sm:w-20 md:w-24" src="/media/authors/{{ .Params.ImageAuthor2 }}" alt="">
                <p class="pt-3 {{if not .Params.SkipMeta}}pb-5{{end}} sm:pb-0 sm:ml-2 p-metadata-stories sm:w-40">{{ T "and" }} {{ .Params.Author2 }}</p>
            </div>
            {{ end }}
        </div>
        
        <div class="sm:border-l sm:flex sm:justify-center sm:items-center sm:flex-col">
            {{ if .IsTranslated }}
            {{ $ls := newScratch }}{{ $ls.Set "count" 0 }} 
            {{ $isfake := .Params.FakeTranslation }}
            {{ range .AllTranslations }}{{ if not .Params.FakeTranslation }}{{ $ls.Add "count" 1 }}{{ end }}{{ end }}
            {{ if gt ($ls.Get "count") 1 }}
            <div id="postlang-sm" class="pt-6 text-center sm:flex sm:justify-center">
                <p class="p-metadata-stories">{{ T "available_in" }}<br>
                 {{ range .Translations }}
                   {{ if not .Params.FakeTranslation }}
                   {{ if (and ($isfake) (eq .Language.Lang "en")) }}
                   {{ else }}
                   <a class="inline-block mx-5 mt-3 font-mono font-semibold tracking-wider text-purple-700 underline" href="{{ .Permalink }}" hreflang="{{ .Language.Lang }}"> {{ .Language.LanguageName }}</a>
                   {{ end }}
                   {{ end }}
                 {{ end }}
                </p>
            </div>
            {{ end }}
            {{ end }}

            {{ if .Params.HasAudio }}
            {{ $trkey := substr .TranslationKey 5 }}

            <div id="postaudio-sm" class="pt-6 text-xs sm:pt-0">
                <p class="p-metadata-stories sm:pt-6">{{ T "listen_in" }}</p>
                {{ range .Site.Data.audios }} 
                {{ if eq .key $trkey }}
                {{ range .data }}
                <p class="pt-3 p-metadata-stories">{{ .lang }}</p>
                <div class="flex justify-center pt-2">
                    <audio controls style="filter: saturate(20%) grayscale(1) contrast(99%) invert(99%); width: 300px; height: 30px;">
                    <source src="{{ .url }}" type="audio/mpeg">
                        Your browser does not support the audio element, but worry not, you can listen all audios of the State of the Internet's Languages Report  here: https://archive.org/details/@whoseknowledge_
                    </audio>
                </div>
                <a class="text-xs font-mono tracking-widest pt-3 pb-5 underline text-purple-900 flex justify-center" href="{{ .url }}">{{ T "download" }}</a> 
                {{ end }}
                {{ end }}
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div> <!-- postmetabox sm ends-->

    <!--main content starts-->
    <div class="lg:flex 2xl:w-1600 2xl:mx-auto">

        <!-- postmetabox lg open -->
        <div class="lg:w-1/4">
            <div id="post-metabox-lg" class="hidden sticky top-16 lg:py-8 lg:mt-14 lg:text-xs lg:bg-white lg:block lg:h-auto lg:left-0 xl:top-12">
                <div>
                    <div id="postauthor-lg1" class="flex flex-col items-center">
                        <img class="w-24 h-auto rounded-full" src="/media/authors/{{ .Params.ImageAuthor1 }}" alt="">
                        <p class="pt-3 p-metadata-stories"> {{ T "author" }} {{ .Params.Author1 }}</p>
                    </div>
                    {{ if .Params.Author2 }}
                    <div id="postauthor-lg2" class="flex flex-col items-center pt-5">
                        <img class="w-24 h-auto rounded-full" src="/media/authors/{{ .Params.ImageAuthor2 }}" alt="">
                        <p class="pt-3 p-metadata-stories"> {{ T "and" }} {{ .Params.Author2 }}</p>
                    </div>
                    {{ end }}
                </div>

                {{ if .IsTranslated }}
                {{ $ls := newScratch }}{{ $ls.Set "count" 0 }} 
                {{ $isfake := .Params.FakeTranslation }}
                {{ range .AllTranslations }}{{ if not .Params.FakeTranslation }}{{ $ls.Add "count" 1 }}{{ end }}{{ end }}
                {{ if gt ($ls.Get "count") 1 }}
                <div id="postlang-lg" class="text-center ">
                    <p class="pt-8 p-metadata-stories">{{ T "available_in" }}<br>
                    {{ range .Translations }}
                       {{ if not .Params.FakeTranslation }}
                       {{ if and ($isfake) (eq .Language.Lang "en") }}
                       {{ else }}
                       <a class="inline-block pt-4 font-mono font-bold tracking-wider text-purple-900 hover:underline" href="{{ .Permalink }}" hreflang="{{ .Language.Lang }}">{{ .Language.LanguageName }}</a><br>
                       {{ end }}
                       {{ end }}
                    {{ end }}
                    </p>
                </div>
                {{ end }}
                {{ end }}
                {{ if .Params.HasAudio }}
                {{ $trkey := substr .TranslationKey 5 }}
                <div id="postaudio-lg" class="lg:text-xs lg:mt-8">
                    <p class="p-metadata-stories">{{ T "listen_in" }}</p>
                    {{ range .Site.Data.audios }} 
                    {{ if eq .key $trkey }}
                    {{ range .data }}
                    <p class="pt-4 capitalize p-metadata-stories">{{ .lang }}</p>
                    <div class="flex justify-center pt-4">
                        <audio controls style="filter: saturate(20%) grayscale(1) contrast(99%) invert(99%); width: 250px; height: 30px;">
                            <source src="{{ .url }}" type="audio/mpeg" />
                            Your browser does not support the audio element, but worry not, you can listen all audios of the State of the Internet's Languages here: https://archive.org/details/@whoseknowledge_
                        </audio>
                    </div>
                    <a class="text-xs font-mono tracking-widest pt-3 pb-5 underline text-purple-900 flex justify-center" href="{{ .url }}">{{ T "download" }}</a> 
                    {{ end }}
                    {{ end }}
                    {{ end }}
                </div>   
                {{ end }}
            </div>
        </div><!-- postmetabox lg ends-->

        <!--stories content start-->
        <div id="stories-content-a" class="mx-6 mt-10 font-serif sm:max-w-xl sm:mx-auto md:max-w-2xl lg:ml-24 lg:pr-6 lg:mt-14 lg:w-3/4 xl:ml-28 2xl:ml-44 2xl:pr-0">
            <article class="p-stories-data {{ if or (eq .Language.Lang "ben") (eq .Language.Lang "aeb") (eq .Language.Lang "sin") }} text-2xl leading-10{{end}}">
                {{ if .Params.skipSummary }}
                {{ .Params.Summary }}<p></p>
                {{ end }}
                {{ .Content }}
            </article>

            <!--prev next navigation buttons start-->

            {{ $sectionPages := where .Site.Pages "Section" .Section }}
            
            <div id="navigation" dir="ltr" class="flex justify-center my-24 lg:justify-center">
                {{ with $sectionPages.ByWeight.Reverse.Prev . }}
                {{ if .RelPermalink }}
                <button class="flex px-4 py-2 font-sans text-sm font-medium tracking-widest text-purple-900 uppercase border border-purple-900 rounded-l hover:bg-purple-900 hover:text-white" onclick="window.location.href='{{ .RelPermalink }}'">
                    <svg class="w-5 h-auto mr-2 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 489.9 489.9">
                        <path d="M5,232.9c-3.2,3.2-5,7.6-5,12.1c0,4.6,1.8,8.9,5,12.1l137.7,137.7c6.7,6.7,17.6,6.7,24.3,0s6.7-17.6,0-24.3L58.5,262.2 h414.2c9.5,0,17.2-7.7,17.2-17.2s-7.7-17.1-17.2-17.1H58.5l108.4-108.5c6.7-6.7,6.7-17.6,0-24.3c-6.7-6.7-17.6-6.7-24.3,0 L5,232.9z"/>
                    </svg>
                    <p>{{ T "previous_story" }}</p>
                </button>
                {{ end }}
                {{ end }}
                {{ with $sectionPages.ByWeight.Reverse.Next . }}
                {{ if (and (eq .Kind "page") .RelPermalink) }}
                <button class="flex px-4 py-2 font-sans text-sm font-medium tracking-widest text-purple-900 uppercase border border-purple-900 rounded-r hover:bg-purple-900 hover:text-white" onclick="window.location.href='{{ .RelPermalink }}'">
			        <p>{{ T "next_story" }}</p>
                    <svg class="w-5 h-auto ml-2 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 489.6 489.6">
                        <path d="M0,244.8c0,9.5,7.7,17.2,17.2,17.2h414.2L322.9,370.4c-3.3,3.3-5,7.7-5,12.1s1.7,8.8,5,12.1c6.7,6.7,17.6,6.7,24.3,0 l137.6-137.7c6.4-6.4,6.4-17.8,0-24.3L347.1,95c-6.7-6.7-17.6-6.7-24.3,0c-6.7,6.7-6.7,17.6,0,24.3l108.4,108.4H17.1 C7.6,227.6,0,235.3,0,244.8z"/>
                    </svg>
                </button>
                {{ end }}
                {{ end }}
            </div><!--prev next navigation buttons end-->
        </div> <!--stories content ends-->
    </div><!--main content ends-->
</div> <!--main div ends-->

<style> 
    #stories-content-a a {
        text-decoration-color: #792a8f;
    }

    #stories-content-a a:hover {
        color: #792a8f;
    }
</style>

{{ end }}
