<figure class="overflow-x-auto">
    <article class="fig-titles">
        {{.Get "title"}}
        <div class="w-32 border-b border-gray-400"></div>
    </article>
    <figcaption>
        <article class="fig-captions">
            {{.Get "caption"}}
        </article>         
    </figcaption>
    {{ $src := .Get "src_table" }}
    {{ $path := printf "dt/%s.html" $src | printf "%s" }}
    {{ partial $path . }} 
</figure>
