<figure class="">
    <article class="fig-titles">
        {{.Get "title"}}
    </article>
    <div class="">
        <audio controls style="filter: saturate(20%) grayscale(1) contrast(99%) invert(99%); width: 200px; height: 30px;">
            <source src='{{.Get "audio"}}' type="audio/mpeg">
                Your browser does not support the audio element, but worry not, you can listen the audio files of this contribution here: https://archive.org/search.php?query=creator%3A%22Paska+Darmawan%22
        </audio> 
    </div>
</figure>
