<div class="mt-8" dir="ltr">

    <button class="flex justify-between w-full font-normal focus:outline-none tracking-wide text-left text-purple-900  border-b cursor-pointer interview-header active:bg-gray-200 text-sm md:text-base focus:ring-1 focus:ring-purple-800 leading-7">
        <p class="interview w-72 sm:w-auto">{{.Get "title"}}</p>

        <svg class="w-4 h-auto text-purple-900 fill-current plus-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 455 455">
            <polygon points="455,212.5 242.5,212.5 242.5,0 212.5,0 212.5,212.5 0,212.5 0,242.5 212.5,242.5 212.5,455 242.5,455 242.5,242.5 455,242.5 "/>
        </svg>

        <svg class="w-4 h-auto text-purple-500 fill-current minus-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 83 83">
            <path d="M81,36.166H2c-1.104,0-2,0.896-2,2v6.668c0,1.104,0.896,2,2,2h79c1.104,0,2-0.896,2-2v-6.668 C83,37.062,82.104,36.166,81,36.166z"/>
        </svg>
    </button>
    
    <div class="interview-blurb">
        <div class="mt-6">
            <article class="interview font-serif prose prose-xl max-w-none tracking-tight text-gray-800 leading-8"> <span class="font-medium">{{.Get "author"}}</span> {{.Get "text1"}}<br class="mb-2">
            {{.Get "text2"}} <br class="mb-2"> <span class="italic">{{.Get "text3"}} </span></article>
            <div class="my-6">
                <audio controls style="filter: saturate(20%) grayscale(1) contrast(99%) invert(99%); width: 350px; height: 30px;">
                    <source src='{{.Get "audio"}}' type="audio/mpeg">
                        Your browser does not support the audio element, but worry not, you can listen the audio files of this contribution here: https://archive.org/details/set-of-interviews
                </audio>
            </div>
        </div>
    </div>
</div>
 
<script class="text/javascript">
$(function() {
    $('.interview-blurb').hide();
    $('.minus-icon').hide();
    $('.interview-header').unbind('click').bind('click',
        function(evt) {
            evt.stopPropagation();
            $(this).next().slideToggle();
            $($(this).children()[1]).toggle();
            $($(this).children()[2]).toggle();
        });
});
</script>


