<figure class="">
    <article class="fig-titles">
        {{.Get "title"}}
        <div class="w-32 border-b border-gray-400"></div>
    </article>
    <img class="pt-8" src="{{.Get "src" }}" alt="{{.Get "alt"}}">
    <figcaption class=""> 
        <article class="fig-captions">
        {{.Get "caption"}}
        </article>
    </figcaption>
</figure>
