<div class="mb-14 max-w-sm ml-auto md:max-w-md lg:max-w-lg 2xl:max-w-2xl">
    <div>
        <p cite="{{.Get "cite"}}" class="text-xl text-right italic text-purple-900 lg:text-2xl 2xl:text-3xl">
            « {{.Get "text"}} »
        </p>
    </div>
    {{ if .Get "author" }}
    <div class="font-sans tracking-wider uppercase text-sm text-right text-purple-900 lg:text-md">&mdash; {{ .Get "author"}} </div>
    {{ end }}
</div>
