<div class="mb-10 ">
    <div id="single-gallery" class="relative">
        <img class="hover:shadow-lg w-full rounded" src="{{.Get "src_img" }}" alt="{{.Get "alt"}}">
        <div class="bg-black bg-opacity-70 gallery-captions rounded-b leading-4 absolute">{{.Get "caption"}} {{ T "via" }} <a href="{{.Get "link"}}"> {{.Get "source"}}</a></div> 
    </div>
</div>

<style> 
    .prose img {
        margin: 0px;
        margin-bottom: 3rem;
    }

    #single-gallery a {
        color: #fff;
        text-underline-offset: 4px;
        text-decoration-color: #fff;
        text-decoration-style: dotted;
    }

    #single-gallery a:hover {
        text-decoration-color: #999;
    }

    .p-stories-data img {
        margin: 0px;
        margin-bottom: 0px;
    }
</style>
