<figure class="">
    <img class="pt-8" src="{{.Get "src" }}" alt="{{.Get "alt"}}">
    <figcaption class=""> 
        <article class="fig-captions">
        {{.Get "caption"}} <a href="{{.Get "link"}}">{{.Get "source"}}</a>
        </article>
    </figcaption>
</figure>
