<figure class="hover:shadow-md cursor-pointer">
    <div class="flex bg-white shadow-sm relative">
        <a data-fancybox="gallery-single" data-caption='{{ .Get "caption1" }}' href="{{ .Get "src_full1"}}">
            <span>
                <img src="{{.Get "src_small1" }}" alt="{{.Get "caption1"}}">
            </span>
        </a>
	<a data-fancybox="gallery-single" data-caption='{{ .Get "caption2" }}' href="{{ .Get "src_full2"}}">
	    <span>
                <img src="{{.Get "src_small2" }}" alt="{{.Get "caption2"}}">
            </span>
        </a>
	<a data-fancybox="gallery-single" data-caption='{{ .Get "caption3" }}' href="{{ .Get "src_full3"}}">
	    <span>
                <img src="{{.Get "src_small3" }}" alt="{{.Get "caption3"}}">
            </span>
        </a>
    </div>
    <div class=" flex bg-white shadow-sm relative ">
	<a data-fancybox="gallery-single" data-caption='{{ .Get "caption4" }}' href='{{ .Get "src_full4"}}'>
	    <span>
                <img src="{{.Get "src_small4" }}" alt="{{.Get "caption4"}}">
            </span>
        </a>
	<a data-fancybox="gallery-single" data-caption='{{ .Get "caption5" }}' href="{{ .Get "src_full5"}}">
	    <span>
                <img src="{{.Get "src_small5" }}" alt="{{.Get "caption5"}}">
            </span>
        </a>
    </div>
    <figcaption>     
        <article class="fig-captions">
        {{.Get "caption_all"}}
        </article>       
    </figcaption>
</figure>

<script>
$('[data-fancybox="gallery-single"]').fancybox({
	thumbs : {
		autoStart : false
	},
	buttons: ["close"]
});
</script>