<figure>
    <div class="bg-white shadow-sm relative hover:shadow-md cursor-pointer py-4">
        <a data-fancybox="gallery" href="{{ .Get "src_full"}}">
            <span class="flex justify-center px-2">
                <img src="{{.Get "src_small" }}" alt="{{.Get "alt"}}">
            </span>
            <button id="fullsize" class="absolute bottom-0 right-0 p-2 hover:bg-gray-300 fill-current text-gray-500 hover:text-gray-700 focus:outline-none focus:ring-2 focus:ring-green-900">
                <svg class="w-4 h-auto lg:w-5" viewBox="0 0 312.28 311.56" xmlns="http://www.w3.org/2000/svg">
                    <g transform="translate(-80.392 -81.033)">
                    <path d="m207.76 318.93h-41.315c16.136-16.133 32.273-32.269 48.409-48.401 10.224-10.224-5.699-26.035-15.953-15.785-16.11 16.11-32.22 32.216-48.33 48.326 0-13.72 0-27.441 4e-3 -41.165 0-14.487-22.441-14.614-22.441-0.161-4e-3 22.774-4e-3 45.552-7e-3 68.326 0 6.081 4.996 11.301 11.14 11.301h68.333c14.486 3e-3 14.613-22.441 0.16-22.441z"/>
                    <path d="m336.33 122.04c-22.778 0-45.555-4e-3 -68.333-7e-3 -14.491 0-14.618 22.441-0.161 22.445 13.773 0 27.542 4e-3 41.315 4e-3 -16.136 16.133-32.273 32.273-48.405 48.405-10.224 10.224 5.703 26.035 15.953 15.785 16.11-16.114 32.22-32.22 48.33-48.334 0 13.724 0 27.445-4e-3 41.165 0 14.487 22.441 14.614 22.441 0.161 4e-3 -22.774 4e-3 -45.548 7e-3 -68.322 1e-3 -6.082-4.999-11.298-11.143-11.302z"/>
                    <path d="m392.59 113.67c0-1.283-0.228-2.412-0.546-3.47-4.039-21.981-20.814-29.169-41.906-29.169h-67.555-158.92c-22.101 0-39.774 7.752-42.62 32.478-1.466 12.703 0 26.443 0 39.209v170.81c0 13.661-1.006 27.721 0.561 41.319 2.696 23.384 24.401 27.74 43.544 27.74h160.75 65.611c20.182 0 41.079-8.627 41.079-32.542v-128.75-114.93c0.097-0.838 0.116-1.728 4e-3 -2.696zm-32.467 256.47c-12.703 1.466-26.446 0-39.209 0h-85.879-84.929c-8.683 0-44.763 6.099-46.621-10.026-1.462-12.703 0-26.443 0-39.209v-85.879-84.929c0-8.691-6.099-44.763 10.033-46.621 12.703-1.466 26.446 0 39.209 0h85.879 84.929c8.695 0 44.755-6.103 46.614 10.033v125.09 84.929c-1e-3 8.686 6.095 44.758-10.026 46.613z"/>
                    </g>
                </svg>
            </button>
        </a>
    </div>
    <figcaption>     
        <article class="fig-captions">{{.Get "caption"}} <a href="{{.Get "link"}}">{{.Get "source"}}</a>
            <a id="PDF" href="{{.Get "PDFlink" }}" class="not-italic font-sans text-sm tracking-wider text-gray-500 focus:outline-none focus:ring-2 focus:ring-green-900 2xl:text-lg">[PDF&#8595;]</a>
        </article>       
    </figcaption>
</figure>

<style>
#PDF {
    color: #64748B;
    font-weight: 400 !important;
    text-decoration: none !important;
 }
    #PDF a:hover {
    color: #029caf;
    }

.p-stories-data img {
  margin-top: 0px;
  margin-bottom: 0px;
}
</style>