<div class="">
    <div>
        <p cite="{{.Get "cite"}}" class="text-xl text-right italic leading-snug text-blue-900 lg:text-2xl 2xl:text-3xl">«{{.Get "text"}}»</p>
    </div>
    {{ if .Get "author" }}
    <div class="-mt-3 pb-5 font-sans tracking-wider uppercase text-sm text-right md:text-md">&mdash; <a href="{{.Get "link"}}">{{.Get "author"}}</a> 
    </div>
    {{ end }}
</div>

