<table border="1" class="dataframe">
  <thead>
    <tr>
      <th>Type</th>
      <th>Category</th>
      <th>Name</th>
      <th>Number of languages</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Website</td>
      <td>Knowledge access</td>
      <td>Google Maps</td>
      <td>74</td>
    </tr>
    <tr>
      <td>Website</td>
      <td>Knowledge access</td>
      <td>Google Search</td>
      <td>150</td>
    </tr>
    <tr>
      <td>Website</td>
      <td>Knowledge access</td>
      <td>Wikipedia</td>
      <td>286</td>
    </tr>
    <tr>
      <td>Website</td>
      <td>Knowledge access</td>
      <td>Youtube</td>
      <td>83</td>
    </tr>
    <tr>
      <td>Website</td>
      <td>Language learning</td>
      <td>Coursera</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Website</td>
      <td>Language learning</td>
      <td>DuoLingo</td>
      <td>23</td>
    </tr>
    <tr>
      <td>Website</td>
      <td>Language learning</td>
      <td>Udacity</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Website</td>
      <td>Language learning</td>
      <td>Udemy</td>
      <td>17</td>
    </tr>
    <tr>
      <td>Website</td>
      <td>Social media</td>
      <td>Facebook</td>
      <td>106</td>
    </tr>
    <tr>
      <td>Website</td>
      <td>Social media</td>
      <td>Twitter</td>
      <td>47</td>
    </tr>
    <tr>
      <td>Website</td>
      <td>Messaging</td>
      <td>Zoom</td>
      <td>11</td>
    </tr>
    <tr>
      <td>Android App</td>
      <td>Social media</td>
      <td>Facebook</td>
      <td>91</td>
    </tr>
    <tr>
      <td>Android App</td>
      <td>Social media</td>
      <td>Instagram</td>
      <td>42</td>
    </tr>
    <tr>
      <td>Android App</td>
      <td>Social media</td>
      <td>Snapchat</td>
      <td>22</td>
    </tr>
    <tr>
      <td>Android App</td>
      <td>Social media</td>
      <td>TikTok</td>
      <td>31</td>
    </tr>
    <tr>
      <td>Android App</td>
      <td>Social media</td>
      <td>Twitter</td>
      <td>19</td>
    </tr>
    <tr>
      <td>Android App</td>
      <td>Messaging</td>
      <td>LINE</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Android App</td>
      <td>Messaging</td>
      <td>LINE Lite</td>
      <td>19</td>
    </tr>
    <tr>
      <td>Android App</td>
      <td>Messaging</td>
      <td>Signal</td>
      <td>69</td>
    </tr>
    <tr>
      <td>Android App</td>
      <td>Messaging</td>
      <td>Telegram</td>
      <td>8</td>
    </tr>
    <tr>
      <td>Android App</td>
      <td>Messaging</td>
      <td>Viber</td>
      <td>48</td>
    </tr>
    <tr>
      <td>Android App</td>
      <td>Messaging</td>
      <td>WeChat</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Android App</td>
      <td>Messaging</td>
      <td>WhatsApp</td>
      <td>58</td>
    </tr>
    <tr>
      <td>iOS App</td>
      <td>Social media</td>
      <td>Facebook</td>
      <td>31</td>
    </tr>
    <tr>
      <td>iOS App</td>
      <td>Social media</td>
      <td>Instagram</td>
      <td>27</td>
    </tr>
    <tr>
      <td>iOS App</td>
      <td>Social media</td>
      <td>Snapchat</td>
      <td>27</td>
    </tr>
    <tr>
      <td>iOS App</td>
      <td>Social media</td>
      <td>TikTok</td>
      <td>40</td>
    </tr>
    <tr>
      <td>iOS App</td>
      <td>Social media</td>
      <td>Twitter</td>
      <td>33</td>
    </tr>
    <tr>
      <td>iOS App</td>
      <td>Messaging</td>
      <td>imo</td>
      <td>40</td>
    </tr>
    <tr>
      <td>iOS App</td>
      <td>Messaging</td>
      <td>KakaoTalk</td>
      <td>15</td>
    </tr>
    <tr>
      <td>iOS App</td>
      <td>Messaging</td>
      <td>LINE</td>
      <td>17</td>
    </tr>
    <tr>
      <td>iOS App</td>
      <td>Messaging</td>
      <td>Messenger</td>
      <td>27</td>
    </tr>
    <tr>
      <td>iOS App</td>
      <td>Messaging</td>
      <td>QQ</td>
      <td>1</td>
    </tr>
    <tr>
      <td>iOS App</td>
      <td>Messaging</td>
      <td>Signal</td>
      <td>53</td>
    </tr>
    <tr>
      <td>iOS App</td>
      <td>Messaging</td>
      <td>Skype</td>
      <td>39</td>
    </tr>
    <tr>
      <td>iOS App</td>
      <td>Messaging</td>
      <td>Telegram</td>
      <td>15</td>
    </tr>
    <tr>
      <td>iOS App</td>
      <td>Messaging</td>
      <td>Viber</td>
      <td>33</td>
    </tr>
    <tr>
      <td>iOS App</td>
      <td>Messaging</td>
      <td>WeChat</td>
      <td>18</td>
    </tr>
    <tr>
      <td>iOS App</td>
      <td>Messaging</td>
      <td>WhatsApp</td>
      <td>39</td>
    </tr>
  </tbody>
</table>