<table border="1" class="dataframe">
  <thead>
    <tr>
      <th>Language</th>
      <th>Region</th>
      <th>Country</th>
      <th>First-language speakers</th>
      <th>Second-language speakers</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Chinese, Jinyu</td>
      <td>Eastern Asia</td>
      <td>China</td>
      <td>46,900,000</td>
      <td>46,900,000</td>
    </tr>
    <tr>
      <td>Arabic, Sa’idi Spoken</td>
      <td>Northern Africa</td>
      <td>Egypt</td>
      <td>22,400,000</td>
      <td>22,400,000</td>
    </tr>
    <tr>
      <td>Magahi</td>
      <td>Southern Asia</td>
      <td>India</td>
      <td>20,735,600</td>
      <td>20,746,400</td>
    </tr>
    <tr>
      <td>Saraiki</td>
      <td>Southern Asia</td>
      <td>Pakistan</td>
      <td>20,009,000</td>
      <td>20,009,000</td>
    </tr>
    <tr>
      <td>Chhattisgarhi</td>
      <td>Southern Asia</td>
      <td>India</td>
      <td>16,300,000</td>
      <td>16,300,000</td>
    </tr>
    <tr>
      <td>Arabic, Mesopotamian Spoken</td>
      <td>Western Asia</td>
      <td>Iraq</td>
      <td>15,655,900</td>
      <td>15,655,900</td>
    </tr>
    <tr>
      <td>Thai, Northeastern</td>
      <td>South-Eastern Asia</td>
      <td>Thailand</td>
      <td>15,000,000</td>
      <td>15,000,000</td>
    </tr>
    <tr>
      <td>Arabic, Hijazi Spoken</td>
      <td>Western Asia</td>
      <td>Saudi Arabia</td>
      <td>14,524,500</td>
      <td>14,524,500</td>
    </tr>
    <tr>
      <td>Chittagonian</td>
      <td>Southern Asia</td>
      <td>Bangladesh</td>
      <td>13,000,000</td>
      <td>13,000,000</td>
    </tr>
    <tr>
      <td>Deccan</td>
      <td>Southern Asia</td>
      <td>India</td>
      <td>12,800,000</td>
      <td>12,800,000</td>
    </tr>
    <tr>
      <td>Jula</td>
      <td>Western Africa</td>
      <td>Côte d’Ivoire</td>
      <td>2,208,000</td>
      <td>12,486,000</td>
    </tr>
    <tr>
      <td>Sadri</td>
      <td>Southern Asia</td>
      <td>India</td>
      <td>5,131,180</td>
      <td>12,131,225</td>
    </tr>
    <tr>
      <td>Pidgin, Cameroon</td>
      <td>Middle Africa</td>
      <td>Cameroon</td>
      <td></td>
      <td>12,000,000</td>
    </tr>
    <tr>
      <td>Sylheti</td>
      <td>Southern Asia</td>
      <td>Bangladesh</td>
      <td>10,300,000</td>
      <td>11,800,000</td>
    </tr>
    <tr>
      <td>Arabic, South Levantine Spoken</td>
      <td>Western Asia</td>
      <td>Jordan</td>
      <td>11,601,100</td>
      <td>11,601,100</td>
    </tr>
    <tr>
      <td>Arabic, Sanaani Spoken</td>
      <td>Western Asia</td>
      <td>Yemen</td>
      <td>11,350,000</td>
      <td>11,350,000</td>
    </tr>
    <tr>
      <td>Chinese, Min Bei</td>
      <td>Eastern Asia</td>
      <td>China</td>
      <td>11,015,200</td>
      <td>11,015,200</td>
    </tr>
    <tr>
      <td>Pashto, Southern</td>
      <td>Southern Asia</td>
      <td>Afghanistan</td>
      <td>10,878,800</td>
      <td>10,878,800</td>
    </tr>
    <tr>
      <td>Rangpuri</td>
      <td>Southern Asia</td>
      <td>Bangladesh</td>
      <td>10,476,000</td>
      <td>10,801,000</td>
    </tr>
    <tr>
      <td>Arabic, Ta’izzi-Adeni Spoken</td>
      <td>Western Asia</td>
      <td>Yemen</td>
      <td>10,533,300</td>
      <td>10,533,300</td>
    </tr>
  </tbody>
</table>