<table border="1" class="dataframe">
  <thead>
    <tr>
      <th>Subcontinent</th>
      <th>Number of platforms</th>
      <th>Share of platforms</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Western Europe</td>
      <td>25</td>
      <td>96.2%</td>
    </tr>
    <tr>
      <td>Northern Europe</td>
      <td>25</td>
      <td>96.2%</td>
    </tr>
    <tr>
      <td>Southern Europe</td>
      <td>25</td>
      <td>96.2%</td>
    </tr>
    <tr>
      <td>Eastern Europe</td>
      <td>24</td>
      <td>92.3%</td>
    </tr>
    <tr>
      <td>Western Africa</td>
      <td>4</td>
      <td>15.4%</td>
    </tr>
    <tr>
      <td>Northern Africa</td>
      <td>1</td>
      <td>3.8%</td>
    </tr>
    <tr>
      <td>Southern Africa</td>
      <td>7</td>
      <td>26.9%</td>
    </tr>
    <tr>
      <td>Eastern Africa</td>
      <td>7</td>
      <td>26.9%</td>
    </tr>
    <tr>
      <td>Middle Africa</td>
      <td>7</td>
      <td>26.9%</td>
    </tr>
    <tr>
      <td>Western Asia</td>
      <td>23</td>
      <td>88.5%</td>
    </tr>
    <tr>
      <td>Central Asia</td>
      <td>8</td>
      <td>30.8%</td>
    </tr>
    <tr>
      <td>Southern Asia</td>
      <td>15</td>
      <td>57.7%</td>
    </tr>
    <tr>
      <td>South-Eastern Asia</td>
      <td>23</td>
      <td>88.5%</td>
    </tr>
    <tr>
      <td>Eastern Asia</td>
      <td>26</td>
      <td>100.0%</td>
    </tr>
  </tbody>
</table>